@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --background-blue: #0278D5;
    --bright-blue: #02B5FF;
    --svg-color: #C8D0DB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
      width: 0px;
      height: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      width: 0px;
      height: 0px;
    border-radius: 0px;
    background-color: none;
  }

svg{
    width: 20px;
    height: auto;
    fill: var(--svg-color);
    transition: fill 0.3s ease-out;
}

.wrapper{
    background-color: var(--background-blue);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    overflow: hidden;
    display: flex;
    position: relative;

    display: flex;
}

.side-nav{
    width: 280px;

    color: white;
    padding-left: 20px;
    overflow: hidden;

    padding-top: 50px;
}

.side-nav-header{
    display: flex;
    align-items: center;

    padding-left: 20px;

    font-size: 17px;
    cursor: pointer;
}

.side-nav-header > svg{
    fill: white;
    margin-right: 20px;

    width: 17px;
}

.side-nav-menu-header{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    font-size: 14px;
    padding-left: 20px;
}

.side-nav-menu-header > svg{
    margin-left: 10px;
    fill: white;

    width: 10px;
}

.side-nav-menu-list{
    display: flex;
    flex-direction: column;
}

.side-nav-menu-item{
    display: flex;
    align-items: center;

    padding: 0 15px;
    height: 50px;

    margin-bottom: 4px;

    border-radius: 30px 0 0 30px;
    position: relative;
    cursor: pointer;

    font-size: 13px;
}

.side-nav-menu-item > svg{
    margin-right: 15px;
    width: 16px;
}

.selected-menu-item{
    background-color: white;
    color: black;

    font-weight: 500;
}

.selected-menu-item::before{
    content: "";
    width: 100px;
    height: 80px;
    border-radius: 0 80px 80px 0;

    

    position: absolute;
    top: -80px;
    right: 0;

    box-shadow: 30px 40px 0px white;
    pointer-events: none;
}

.selected-menu-item::after{
    content: "";
    width: 100px;
    height: 80px;
    border-radius: 0 80px 80px 0;

    

    position: absolute;
    bottom: -80px;
    right: 0;

    box-shadow: 30px -40px 0px white;

    pointer-events: none;
}

.selected-menu-item > svg{
    fill: var(--background-blue);
}

.main-section{
    flex: 1;
    background-color: white;

    margin: 15px;
    margin-left: 0;
    border-radius: 30px;

    overflow-y: auto;
    padding: 30px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
}

.main-section-header{
    display: flex;
    align-items: center;

    justify-content: flex-end;
    margin-bottom: 25px;
}

.header-search{
    margin-right: auto;

    display: flex;
    align-items: center;
}

.header-search > svg{
    margin-right: 10px;
    width: 15px;
}

.header-search > input{
    padding: 10px;
    border: none;
    outline: none;

    width: 400px;
    font-size: 14px;
    font-weight: 300;
}

.header-search > input::placeholder{
    color: #93989e;
}

.main-section-header > svg{
    margin-left: 25px;
    width: 16px;

    cursor: pointer;
}

.main-content{
    flex: 1;
    display: flex;
}

.mails{
    width: 380px;
    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.mails-header{
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mails-header-title{
    display: flex;
    align-items: center;

    cursor: pointer;
    font-size: 15px;
}

.mails-header-title > svg{
    margin-left: 20px;
    width: 10px;
}

.mails-header-add-mail{
    background-color: var(--background-blue);
    width: 35px;
    height: 35px;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mails-header-add-mail > svg{
    fill: white;
    width: 12px;
}

.mails-list{
    padding-top: 10px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.mails-list::after{
    flex-shrink: 0;
    content: "";
    height: 30px;
}

.mail{
    display: flex;
    align-items: flex-start;

    align-self: stretch;

    padding: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.selected-mail{
    background-color: #F4F9FE;
}

.selected-mail .mail-content-meta > div:last-child{
    color: var(--background-blue);
}

.mail-avatar{
    width: 35px;
    height: 35px;

    border-radius: 5px;
    background-color: var(--svg-color);

    margin-right: 15px;
}

.mail > .mail-content{
    flex: 1;
    flex-basis: 0;
}

.mail-content-meta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 8px;
}

.mail-content-meta > div:first-child{
    font-weight: 300;
    font-size: 11px;
    color: #93989e;
    margin-bottom: 4px;
}

.mail-content-meta > div:last-child{
    font-weight: 500;
    font-size: 13px;
}

.mail-content-detail{
    font-size: 11px;
    line-height: 20px;
    color: #93989e;
}

.mail-time{
    font-size: 12px;
    line-height: 20px;
    color: #93989e;
    margin-left: 5px;
}

.expanded-mail{
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.expanded-mail-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 50px;
}

.expanded-mail-header-title{
    margin-right: auto;
    font-size: 15px;
}

.expanded-mail-header > svg{
    margin-left: 25px;
    width: 16px;

    cursor: pointer;
}

.expanded-mail-content{
    margin-top: 35px;
}

.expanded-mail-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.expanded-mail-content-header > .logo{
    width: 100px;
    height: 30px;

    background-image: url(./assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    cursor: pointer;
}

.vib{
    color: var(--bright-blue);
    font-size: 12px;
    cursor: pointer;
}

.expanded-mail-content-image{
    height: 400px;

    background-image: url(./assets/vector.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.expanded-mail-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.expanded-mail-content-text > div:first-child{
    font-weight: 600;
    font-size: 30px;

    margin-bottom: 20px;
}

.expanded-mail-content-text > div:last-child{
    width: 74%;
    color: #93989e;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}