@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

svg{
    width: 20px;
    height: auto;
    fill: #BEBDC2;
}

.wrapper{
    height: 100vh;
    display: flex;
    
}

.side-nav{
    flex-shrink: 0;
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.system-buttons{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3px;
}

.system-buttons > div {
    width: 12px;
    height: 12px;

    border-radius: 10px;
    background-color: #9dbdff;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.system-buttons > div:nth-child(1){
    background-color: #EE6A5E;
}

.system-buttons > div:nth-child(1):hover{
    box-shadow: 0px 0px 10px #EE6A5E;
}

.system-buttons > div:nth-child(2){
    background-color: #F5BD4E;
}

.system-buttons > div:nth-child(2):hover{
    box-shadow: 0px 0px 10px #F5BD4E;
}

.system-buttons > div:nth-child(3){
    background-color: #62C355;
}

.system-buttons > div:nth-child(3):hover{
    box-shadow: 0px 0px 10px #62C355;
}

.logo{

    margin: 29px 0;
    width: 40px;
    height: 40px;
    background-image: url(./assets/Logo.png);

    background-size: contain;
    background-repeat: no-repeat;

    cursor: pointer;
}


.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu svg{
    width: 23px;
    fill: #BEBDC2;
}

.side-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 29px;
    cursor: pointer;
    position: relative;
}

.side-menu > .active-side-menu-item > svg{
    fill: #F49424;
}

.side-menu-item-notification{
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 4px;
    border-radius: 10px;

    background-color: #F49424;
}


.main-section{
    flex: 1;
    min-width: 0;
    background-color: #F5F6F8;

    display: flex;
    flex-direction: column;
}


.main-header{
    display: flex;
    align-items: center;

    padding: 20px;
}

.back-btn{
    cursor: pointer;
}

.back-btn svg{
    fill: #8b8b8b;
}

.project-meta{
    margin-left: 25px;
    margin-right: auto;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.project-name{
    margin-left: 15px;
    font-weight: 600;
    font-size: 35px;
}

.project-image{
    width: 50px;
    height: 50px;
    background-image: url(./assets/pctopus.png);

    background-size: contain;
}

.main-header-search{
    background-color: #EAEBEF;
    display: flex;
    align-items: center;

    height: 45px;
    padding: 0px 14px;
    border-radius: 9px;

    margin-right: 25px;
} 

.main-header-search input{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    width: 280px;
}

.main-header-search svg{
    width: 25px;
}

.main-header-search input::placeholder{
    color: #8b8b8b;
}

.main-header-profiles{
    display: flex;
    align-items: center;

    cursor: pointer;

    margin: 0 20px;
}

.main-header-profiles .header-profile:nth-child(1){
    background-image: url(./assets/header-profile-1.png);
}

.main-header-profiles .header-profile:nth-child(2){
    background-image: url(./assets/header-profile-2.png);
}

.main-header-profiles .header-profile:nth-child(3){
    background-image: url(./assets/header-profile-3.png);
}

.header-profile{

    margin-left: -9px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #BEBDC2;

    border: 2px #F5F6F8 solid;
}

.header-profile-more{
    align-self: stretch;
    color: white;
    background-color: #F49424;

    font-weight: 300;

    width: 48px;
    border-radius: 20px;
    font-size: 12px;

    margin-left: -9px;
    border: 2px #F5F6F8 solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-more{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.3s ease-out;

    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.header-more:hover{
    background-color: #EAEBEF;
}

.boards-container{
    align-self: stretch;
    flex: 1;
    padding: 60px 70px;
    display: flex;
    overflow: auto;
}

.board{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    width: 350px;

    margin-right: 50px;
}

.board-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    flex-shrink: 0;
}

.board-header-more{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.3s ease-out;

    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-left: auto;
}

.board-header-title{
    font-size: 18px;
    font-weight: 300;
}

.board-header-notification{
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 300;
    font-size: 14px;

    height: 25px;
    width: 25px;
    border-radius: 30px;

    background-color: #EAEBEF;
    color: #8b8b8b;
}
    
.board-header-more:hover{
    background-color: #EAEBEF;
}

.cards-list{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.card{
    flex-shrink: 0;
    margin-bottom: 10px;
   
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: 15px;

    box-shadow: 0px 10px 20px #c0c0c0;

    cursor: pointer;
}

.card > div {
    display: flex;
}

.card-title{
    font-size: 19px;
    font-weight: 500;

    margin-bottom: 10px;
}

.card-meta-tag{
    align-self: stretch;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    background-color: #d4e2ff;
    font-size: 14px;
    color: #578efb;
}

.bug{
    background-color: #F9EAEC;
    color: #DF222E;
}

.ux{
    background-color: #FEF5ED;
    color: #D56801;
}

.ui{
    background-color: #E7F4EC;
    color: #13A947;
}

.card-meta-assignees{
    margin-left: auto;
    display: flex;
}

.add-card{
    margin-top: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FAFBFC;
    border-radius: 10px;

    border: 1px #DEDFE1 solid;
    height: 40px;
    cursor: pointer;

}

.add-card span{
    font-weight: 300;
    color: #BEBDC2;
}

.add-card svg{
    fill: #BEBDC2;
    width: 15px;
    margin-right: 10px;
}