::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: none;
}

:root {
  --blue: #0075ff;
  --red: #ff0000;
  --green: #8dd384;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  max-height: 100vh;
}

.wrapper {
  height: 100vh;
  backdrop-filter: blur(140px);

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow: hidden;
}

.main-section {
  flex: 1;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}

.main-heading-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-heading-bar > .logo {
  cursor: pointer;
}

.main-heading-bar > .logo > img {
  width: 25px;
}

.heading-nav {
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.heading-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px #0077ff00 solid;
  font-size: 15px;
  cursor: pointer;
  margin: 0 20px;

  transition: border-bottom 0.3s ease-out;
}

.heading-nav-item:hover,
.active-nav-item {
  border-bottom: 2px var(--blue) solid;
}

.heading-stocks,
.heading-stock,
.stock-status {
  display: flex;
  align-items: center;
}

.heading-stock {
  font-size: 11px;
  margin: 0 10px;

  cursor: pointer;
}

.stock-status {
  padding-left: 5px;
}

.stock-status-up > div:first-child {
  color: var(--green);
  padding-right: 5px;
  font-weight: 500;
}

.stock-status-down > div:first-child {
  color: var(--red);
  padding-right: 5px;
  font-weight: 500;
}

.stock-down {
  background-color: var(--red);
}

.stock-up {
  background-color: var(--green);
}

.stock-down,
.stock-up {
  font-size: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.heading-icons {
  display: flex;
  align-items: center;
}

.heading-icons > div {
  margin-left: 15px;
  cursor: pointer;
}

.chat-button {
  background-color: var(--green);
  color: white;
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-image: url("./assets/profile.jpg");
  background-position: center;
  background-size: cover;
}

.options-button {
  color: rgb(168, 168, 168);
}

.main-section {
  display: flex;
  align-items: stretch;
}

.cards-section {
  width: 320px;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.cards-heading-bar {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.cards-heading-bar > .back-button {
  height: 40px;
  width: 40px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
}

.cards-heading-bar > .back-button:hover {
  box-shadow: 2px 2px 20px rgb(226, 231, 253);
}

.cards-heading-text {
  font-size: 20px;
  margin-left: 20px;
}

.add-cards-button {
  margin-left: auto;
  background-color: var(--red);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.cards-meta-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 35px;
  padding-right: 30px;
  padding-left: 15px;

  border-bottom: 1px rgb(238, 238, 238) solid;
}

.card-meta {
  backdrop-filter: blur(0px);
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-bottom: 20px;
  cursor: pointer;
}

.card-meta > div:first-child {
  font-weight: 300;
  font-size: 12px;
}

.card-meta-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-meta-main > div:first-child {
  font-size: 30px;
  font-weight: 600;
  color: #2b2b2b;
}

.card-meta-main > div:last-child {
  color: white;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 20px;

  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0px;
  transition: margin 0.3s ease-out;
}

.card-meta:hover .card-meta-main > div:last-child {
  margin-right: 10px;
}

.cards-list {
  flex: 1;
}

.card-container {
  position: relative;
  margin: 20px 0;
  cursor: pointer;
  padding-bottom: 10px;

  user-select: none;
}

.card-img-container {
  margin-left: 20px;
  margin-right: 40px;
}

.card-img-container > img {
  width: 100%;

  pointer-events: none;

  position: relative;
  bottom: 0px;

  transition: all 0.3s ease-out;
}

.card-container:hover img {
  bottom: 10px;
}

.card-details {
  backdrop-filter: blur(10px);
  position: absolute;

  padding-left: 30px;
  padding-right: 50px;
  left: 0;
  right: 0;
  height: 57%;
  bottom: 0;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-details > div:first-child {
  font-weight: 600;
  font-size: 13px;
}

.card-details > div:last-child {
  font-weight: 400;
  font-size: 10px;
}

.all-transactions-section {
  flex: 1;

  margin: 45px 35px 0px 35px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow: auto;
}

.all-transactions-heading {
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.all-transactions-heading-bar {
  padding: 0 10px;
  display: flex;
  align-items: center;

  margin-bottom: 50px;
}

.all-transactions-heading-bar .transaction-button {
  color: black;
  background-color: #f6f7f8;
  font-size: 10px;
  height: 25px;
  width: 25px;
  border-radius: 7px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  transition: background-color 0.3s ease-out;
}
.all-transactions-heading-bar .transaction-button:hover {
  background-color: #d5d9dd;
}

.all-transactions-heading-bar .transaction-button:last-child {
  margin-left: auto;
  margin-right: 0px;
}

.transaction {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 5px;

  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.transaction:hover {
  background-color: #f6f7f8;
}

.transaction-logo {
  background-color: #f6f7f8;
  width: 60px;
  height: 60px;
  border-radius: 20px;

  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-logo img {
  width: 50%;
}

.transaction-details > div:first-child {
  font-weight: 500;
}

.transaction-details > div:last-child {
  font-size: 12px;
  font-weight: 200;
}

.transaction-amount {
  margin-left: auto;
  font-weight: 500;
}

.creditscore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.creditscore > img {
  width: 50%;
}

.creditscore-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Send money section */

.send-money-section {
  flex: 1;

  margin-top: 35px;
  position: relative;

  border-left: 1px rgb(241, 106, 106) solid;
  border-right: 1px rgb(238, 238, 238) solid;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.send-money-section::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: rgb(238, 238, 238);
  top: 0;
  bottom: 35px;
  left: 12px;
}

.send-money-title {
  font-size: 20px;
  font-weight: 500;

  margin-left: 24px;
  padding: 0 40px;
  margin-bottom: 40px;
}

.send-money-detail {
  display: flex;
  align-items: flex-start;
}

.flag-avatar {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--blue);
  z-index: 8;
}

.send-money-detail-cards {
  flex: 1;
  margin: 0 40px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.detail-card {
  transition: box-shadow 0.3s ease-out;
}

.send-money-detail-cards:hover > .detail-card {
  box-shadow: 2px 2px 20px rgb(214, 214, 214);
}

.from-to-detail {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.from-to-detail > div:first-child {
  font-weight: 300;
  font-size: 13px;
  color: rgb(68, 68, 68);
}

.from-to-detail > div:last-child {
  display: flex;
  align-items: center;
}

.from-to-detail > div:last-child > div {
  text-transform: uppercase;
  font-weight: 500;
}

.from-to-detail > div:last-child > i {
  margin-left: 9px;
  font-size: 10px;
}

.sender-reciever-detail {
  margin-top: 14px;
  padding: 20px 20px;
  min-height: 80px;
  border-radius: 15px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sender-reciever-detail > div:first-child {
  font-size: 12px;
  color: rgb(68, 68, 68);
}

.sent-recieved-amount {
  display: flex;
  align-items: baseline;
}

.sent-recieved-amount > div:first-child {
  font-size: 25px;
  font-weight: 600;
}

.sent-recieved-amount > div:first-child {
  font-size: 25px;
  font-weight: 600;
}

.rate {
  margin-top: 5px;
  display: flex;
  align-items: baseline;
  font-size: 13px;
}

.rate > div:last-child {
  padding-left: 5px;
  font-weight: 300;
}
