/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9ed5f063;
}

/* General */

:root {
  --sky-blue: #189ad6;
  --sky-blue-light: #9ed4f0;
  --dark-blue: #323c79;
  --dark-orange: #bc4527;
  --light-orange: #ffe8e2;
  --black: #1b1d29;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/* BASIC LAYOUT */

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 300px;
}

.side-bar-left {
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: scroll;
}

.side-bar-left > div {
  margin: 20px 0;
}

.side-bar-right {
  background-color: rgba(255, 0, 0, 0.233);
}

.main {
  background-color: rgba(0, 195, 255, 0.192);
}

/* Side Nav */

.side-bar-left > .logo {
  padding: 0 20px;
}

.nav-menus {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px 10px;
  border-radius: 20px;

  cursor: pointer;

  transition: background-color 0.3s ease-out;
}

.nav-menu div {
  padding: 10px 10px;
  color: var(--black);
  font-size: 13px;
  font-weight: 700;

  transition: opcaity 2s ease-out;
  -webkit-transition: opacity 0.3s;
}

.nav-menu > div:first-child {
  opacity: 0.3;
}
.nav-menu:hover {
  background-color: var(--sky-blue-light);
}

.nav-menu:hover > div {
  opacity: 1;
  color: var(--dark-blue);
}

.nav-menu > .nav-menu-logo-right {
  margin-left: auto;
  border-radius: 10px;

  transition: background-color 0.3s ease-out;
}

.nav-menu > .nav-menu-logo-right:hover {
  background-color: #72b4d3;
}

.send-money-card {
  min-height: 300px;

  padding: 20px 20px 30px 20px;
  background-color: #ffe8e25d;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.send-money-card > div {
  margin: 10px 0;
}

.send-money-card-title {
  font-weight: 700;
  font-size: 25px;
  color: var(--dark-blue);
}

.send-money-card-input {
  background-color: white;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
}

.send-money-card-input > input {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
}

.send-money-card-users {
  display: flex;
}

.send-money-card-user {
  background-color: var(--dark-blue);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.send-money-card-user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-money-card-user-details .send-money-card-user-name {
  color: var(--black);
  font-weight: 700;
}

.send-money-card-user-details .send-money-card-user-email {
  color: var(--sky-blue);
  font-size: 13px;
  font-weight: 500;
}

.send-money-card-container {
  position: absolute;
  bottom: -38px;
  width: 100%;
  margin: 0;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.send-money-card-button {
  background-color: var(--dark-blue);
  height: 50px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  border-radius: 19px;
  align-self: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.send-money-card-button > i {
  padding-left: 10px;
}

.side-bar-left > .log-out-button {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
  margin-top: 60px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  transition: background-color 0.3s ease-out;
}

.side-bar-left > .log-out-button:hover {
  background-color: var(--sky-blue-light);
}

.log-out-button > div {
  padding: 10px;
}

.log-out-button > .profile {
  background-color: var(--dark-blue);
  width: 30px;
  height: 30px;
  border-radius: 40px;

  background-image: url("./assets/profile.png");
  background-size: contain;
  background-position: center;
}

.log-out-button > .log-out-logo {
  margin-left: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}

.side-bar-left > .log-out-button:hover > .log-out-logo {
  color: var(--dark-blue);
  opacity: 1;
}
