/* 40px X 40px padding */

/* Scrollbar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9ed5f063;
}

/* General */

:root {
  --sky-blue: #189ad6;
  --sky-blue-light: #9ed4f0;
  --dark-blue: #323c79;
  --dark-orange: #bc4527;
  --light-orange: #ffe8e2;
  --black: #1b1d29;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}

/* BASIC LAYOUT */

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 320px;
}

.side-bar-left {
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: scroll;
}

.side-bar-left > div {
  margin: 20px 0;
}

/* Side Nav */

.side-bar-left > .logo {
  padding: 0 20px;
}

.nav-menus {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 10px 10px;
  border-radius: 20px;

  cursor: pointer;

  transition: background-color 0.3s ease-out;
}

.nav-menu div {
  padding: 10px 10px;
  color: var(--black);
  font-size: 13px;
  font-weight: 700;

  transition: opcaity 2s ease-out;
  -webkit-transition: opacity 0.3s;
}

.nav-menu > div:first-child {
  opacity: 0.3;
}
.nav-menu:hover {
  background-color: var(--sky-blue-light);
}

.nav-menu:hover > div {
  opacity: 1;
  color: var(--dark-blue);
}

.nav-menu > .nav-menu-logo-right {
  margin-left: auto;
  border-radius: 10px;

  transition: background-color 0.3s ease-out;
}

.nav-menu > .nav-menu-logo-right:hover {
  background-color: #72b4d3;
}

.send-money-card {
  min-height: 300px;

  padding: 20px 20px 30px 20px;
  background-color: #ffe8e25d;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.send-money-card > div {
  margin: 10px 0;
}

.send-money-card-title {
  font-weight: 700;
  font-size: 25px;
  color: var(--dark-blue);
}

.send-money-card-input {
  background-color: white;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
}

.send-money-card-input > input {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
}

.send-money-card-users {
  display: flex;
}

.send-money-card-user {
  background-color: var(--dark-blue);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.send-money-card-user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-money-card-user-details .send-money-card-user-name {
  color: var(--black);
  font-weight: 700;
}

.send-money-card-user-details .send-money-card-user-email {
  color: var(--sky-blue);
  font-size: 13px;
  font-weight: 500;
}

.send-money-card-container {
  position: absolute;
  bottom: -38px;
  width: 100%;
  margin: 0;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.send-money-card-button {
  background-color: var(--dark-blue);
  height: 50px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  border-radius: 19px;
  align-self: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: box-shadow 0.3s ease-out;
}

.send-money-card-button:hover {
  box-shadow: 20px 20px 50px #323c7948;
}

.send-money-card-button > i {
  padding-left: 10px;
}

.side-bar-left > .log-out-button {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
  margin-top: 60px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  transition: background-color 0.3s ease-out;
}

.side-bar-left > .log-out-button:hover {
  background-color: var(--sky-blue-light);
}

.log-out-button > div {
  padding: 10px;
}

.log-out-button > .profile {
  background-color: var(--dark-blue);
  width: 30px;
  height: 30px;
  border-radius: 40px;

  background-image: url("./assets/profile.png");
  background-size: contain;
  background-position: center;
}

.log-out-button > .log-out-logo {
  margin-left: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}

.side-bar-left > .log-out-button:hover > .log-out-logo {
  color: var(--dark-blue);
  opacity: 1;
}

/* Main */

.main {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow-y: scroll;
}

.main > div {
  padding: 20px 0;
}

.greetings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.greetings > .greeting-text {
  font-size: 20px;
  font-weight: 600;
}

.greetings-logo {
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greetings-logo > img {
  width: 20px;
}

.payment-methods-header {
  padding: 20px 0;
  font-size: 28px;
  font-weight: 700;
}

.payment-methods-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 200px 140px;
  gap: 20px;
}

.payment-methods-grid > div {
  border-radius: 25px;

  transition: box-shadow 0.3s ease-out;
  cursor: pointer;

  overflow: hidden;
}

.payment-methods-grid > div:hover {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.158);
}

.payment-methods-grid > div:nth-child(1),
.payment-methods-grid > div:nth-child(3) {
  z-index: 5;
}

.payment-methods-grid > .link-credit-card {
  grid-row: span 2;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.link-credit-card-image {
  flex: 1;
  background-image: url("./assets/creditCard.jpg");
  background-position: center;
  background-size: contain;
}

.link-credit-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0 30px 0;
}

.link-credit-card-text > div:nth-child(1) {
  font-weight: 700;
}

.link-credit-card-text > div:nth-child(2) {
  font-weight: 200;
  font-size: 15px;
  color: #828387;
}

.paypal-balance {
  color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;

  background-image: url("./assets/paypalBalance.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.paypal-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.paypal-balance-logo-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.paypal-balance-logo {
  background-color: white;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;

  margin-right: 20px;
}

.paypal-balance-details {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paypal-balance-details > div:nth-child(1) {
  margin-top: 40px;
  font-weight: 700;
  font-size: 11px;
  color: var(--sky-blue-light);
}

.paypal-balance-details > div:nth-child(2) {
  font-weight: 600;
  font-size: 25px;
}

.paypal-balance-details > div:nth-child(3) {
  margin-top: 5px;
  font-weight: 600;
  font-size: 10px;
}

.paypal-balance-logo > img {
  width: 32px;
}

.paypal-balance-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 5px;
}

.paypal-balance-buttons > div {
  height: 50px;
  border-radius: 18px;

  font-weight: 700;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paypal-balance-buttons > div:first-child {
  background-color: white;
  color: black;
}

.paypal-balance-buttons > div:last-child {
  background-color: var(--sky-blue);
  color: white;
}

.asia-comercial-bank {
  background-color: var(--light-orange);

  display: flex;
  justify-content: center;
  align-items: center;
}

.asia-comercial-bank-logo {
  background-color: var(--dark-orange);
  width: 60px;
  height: 60px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}

.asia-comercial-bank-logo > img {
  width: 29px;
}

.asia-comercial-bank-data > div:first-child {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 15px;
}

.asia-comercial-bank-data > div:last-child {
  color: var(--dark-orange);
  font-weight: 700;
  font-size: 33px;
}

.other-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.other-details > .heading-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  border-bottom: 1px rgb(231, 231, 231) solid;
}

.heading-bar-button {
  padding: 15px 20px;
  border-radius: 20px;
  border: 1px rgb(231, 231, 231) solid;
  transition: border-color 0.3s ease-out;
  cursor: pointer;
}

.heading-bar-button:hover {
  border-color: rgb(168, 168, 168);
}

.heading-bar-title > div {
  font-weight: 600;
  font-size: 25px;
}

.heading-bar-title > div:last-child {
  color: var(--dark-blue);
}

.other-details-content-area {
  display: flex;
  flex-direction: column;
}

.other-details .main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.main-content .tip {
  font-weight: 400;
  font-size: 13px;
  color: rgb(116, 115, 115);
  margin: 10px 0;
}
.main-content > .details-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.details-list .detail {
  display: flex;
  align-items: center;
}

.details-list > div {
  padding: 20px 0;
}

.detail-logo {
  width: 40px;
  height: 40px;
  background-color: var(--sky-blue-light);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.detail-currency {
  font-weight: 600;
  font-size: 12px;
  padding: 0 18px;
}

.detail-amount {
  font-weight: 600;
}

.detail-primary {
  font-weight: 600;
  background-color: var(--sky-blue-light);
  padding: 3px 7px;
  border-radius: 2px;
  font-size: 9px;
  color: var(--dark-blue);
}

.detail > div:last-child {
  margin-left: auto;
}

.detail {
  border-top: 1px rgb(231, 231, 231) solid;
}

.detail:first-child {
  border-top: none;
}
.graphs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.graphs {
  min-height: 120px;

  display: flex;
}

.graphs > .graph-img {
  flex: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.graphs .graph-labels {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.graph-label {
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.label-color {
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.label-text {
  font-weight: 700;
  font-size: 15px;
}

.side-bar-right {
  background-color: #fcfbf7;
  display: flex;
  flex-direction: column;
}

.side-bar-right > div {
  padding: 20px 40px;
}

.side-bar-right > div:first-child {
  padding: 40px 40px 20px 40px;
}

.side-bar-right > div:last-child {
  padding: 0;
}

.side-bar-heading-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-bar-heading-bar > i {
  padding: 0 30px;
  cursor: pointer;
}

.side-bar-heading-bar > i:first-child {
  padding: 0;
}

.side-bar-heading-button {
  margin-left: auto;

  background-color: var(--dark-blue);
  color: white;
  font-weight: 600;
  height: 50px;
  border-radius: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
}

.side-bar-heading-button:hover {
  box-shadow: 20px 20px 50px #323c7948;
}

.side-bar-title .main-title,
.side-bar-title .main-title-highlight {
  font-size: 30px;
  font-weight: 700;
}

.side-bar-title .main-title-highlight {
  color: var(--dark-blue);
}

.side-bar-title .sub-title {
  font-size: 15px;
  color: #828387;
  padding: 10px 0;
}

.side-bar-button-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.side-bar-button-area .link {
  color: var(--sky-blue);
  font-size: 10px;
  font-weight: 500;
  margin: 20px 0;

  cursor: pointer;
}

.side-bar-button-area .side-bar-button {
  align-self: stretch;
  background-color: var(--sky-blue);
  color: white;
  font-weight: 600;

  height: 50px;

  border-radius: 19px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: box-shadow 0.3s ease-out;
  z-index: 5;
}

.side-bar-button-area .side-bar-button:hover {
  box-shadow: 20px 20px 50px var(--sky-blue-light);
}

.side-bar-button > i {
  padding-left: 10px;
}

.side-bar-image {
  margin-top: auto;
  background-image: url("./assets/image.jpg");
  background-size: cover;
  height: 300px;
}
