@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --wrapper: #F6F6FA;
  --logo: #ECEDF6;
  --light-blue: #E8EDFF;
  --blue: #577BF9;
  --green: #6FC416;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
      width: 0px;
      height: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      width: 0px;
      height: 0px;
    border-radius: 0px;
    background-color: none;
  }

svg{
    width: 20px;
    height: auto;
    fill: var(--text-grey);
    transition: fill 0.3s ease-out;
}

.wrapper{
    background-color: var(--wrapper);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    min-width: 1000px;
    /* min-height: 700px; */
    overflow: hidden;
    display: flex;
    position: relative;
}

.side-nav{
    background-color: white;
    width: 170px;
    border-right: 1px rgb(223, 223, 223) solid;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 30px;
}

.side-nav-header{
    padding-left: 19px; /* to compensate for the drop down svg (width: 9px + margin-left: 10px;) */
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.side-nav-header-logo{
    background-color: var(--logo);
    height: 60px;
    width: 60px;
    border-radius: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.logo-blue-container{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue);

    width: 20px;
    height: 20px;
    border-radius: 7px;
}

.logo-blue-container > svg{
    fill: none;
    width: 12px;
}

.side-nav-header-drop{
    margin-left: 10px;

    cursor: pointer;
}

.side-nav-header-drop > svg{
    width: 9px;
    fill: #727272;
}

.side-nav-button{
    background-color: var(--blue);
    height: 35px;
    border-radius: 8px;

    align-self: stretch;
    margin: 40px 20px;

    color: white;
    font-size: 12px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.side-nav-button:hover{
    box-shadow: 0px 2px 10px #aeb6d1;
}

.side-nav-menu-list{
    align-self: stretch;
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;
}

.side-nav-menu-item{
    display: flex;
    align-items: center;
    padding: 7px 20px;

    margin: 7px 0;

    font-size: 11px;
    font-weight: 500;
    color: #727272;

    position: relative;
    cursor: pointer;
}

.side-nav-menu-item > svg{
    margin-right: 20px;

    fill: #727272;
}

.active-side-nav-menu-item{
    background: linear-gradient(90deg, #F7F7FB 0%, #FFFFFF 100%);
    color: black;
    font-weight: 600;
}

.active-side-nav-menu-item > svg{
    fill: var(--blue);
}

.active-side-nav-menu-item::before{
    content: "";
    width: 3px;
    border-radius: 10px;

    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;

    background-color: var(--blue);
}

.side-nav-support{
    align-self: stretch;
    margin-top: auto;

    display: flex;
    align-items: center;
    padding: 7px 20px;

    font-size: 11px;
    font-weight: 500;
    color: #727272;

    position: relative;
    cursor: pointer;
}

.side-nav-support > svg{
    margin-right: 20px;

    fill: #727272;
}

.side-nav-power-button{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue);
    height: 40px;
    width: 40px;
    border-radius: 40px;

    margin: 30px 0;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.side-nav-power-button:hover{
    box-shadow: 0px 2px 10px #aeb6d1;
}
.side-nav-power-button > svg{
    fill: white;
    width: 16px;
}


.main-section{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.main-header{
    height: 74px;
    padding: 0 40px;
    background-color: white;
    border-bottom: 1px rgb(223, 223, 223) solid;

    display: flex;
    align-items: center;
}

.main-header-search{
    display: flex;
    align-items: center;

    border: 1px rgb(223, 223, 223) solid;
    border-radius: 5px;

    overflow: hidden;
    padding: 0 10px;
}

.main-header-search > input{
    height: 33px;
    width: 450px;
    border: none;
    outline: none;
}

.main-header-search > svg{
    width: 14px;
    fill: rgb(202, 202, 202)
}

.main-header-date{
    margin-left: auto;
    font-size: 12px;
    color: #727272;

    cursor: pointer;
}

.main-header-bell{
    position: relative;
    margin: 0 40px;

    cursor: pointer;
}

.main-header-bell > svg{
    fill: #727272;
}

.bell-notification{
    background-color: var(--blue);
    color: white;
    font-size: 7px;
    font-weight: 500;

    position: absolute;
    top: -3px;
    right: 0;

    width: 12px;
    height: 12px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px white solid;
}

.main-header-profile{
    display: flex;
    align-items: center;

    cursor: pointer;
}

.main-header-profile-name{
    font-size: 12px;

    color: black;
    font-weight: 500;
}

.main-header-profile-avatar{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--logo);

    margin: 0 17px;
    background-image: url(./assets/profile4.jpg);
}

.main-header-profile > svg{
    width: 9px;
    fill: #727272;
}

.main-section-main{
    flex: 1;
    display: flex;

    overflow: hidden;
}

.main-content{
    flex: 1;
    background-color: var(--wrapper);
    border-right: 1px rgb(223, 223, 223) solid;

    padding: 40px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.main-content-title{
    font-size: 26px;
    font-weight: 600;
}

.main-content-header{
    display: flex;
    align-items: flex-end;

    border-bottom: 1px rgb(223, 223, 223) solid;
}

.main-content-header-menu{
    display: flex;

    margin-bottom: -1px;
}

.main-content-header-menu-item{
    padding-bottom: 13px;
    margin-right: 35px;

    font-size: 13px;
    font-weight: 400;
    color: #727272;

    cursor: pointer;
    position: relative;
}

.active-main-content-header-menu-item{
    font-weight: 600;
    color: black;
}

.active-main-content-header-menu-item::after{
    content: "";
    height: 3px;
    background-color: var(--blue);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 10px;
}


.main-content-header-search{
    margin-left: auto;
    margin-bottom: 20px;
}

.main-content-header-search{
    display: flex;
    align-items: center;

    border: 1px rgb(223, 223, 223) solid;
    border-radius: 5px;

    overflow: hidden;
    padding: 0 10px;

    background-color: var(--logo);
}

.main-content-header-search > input{
    height: 33px;
    width: 270px;
    border: none;
    outline: none;
    background-color: transparent;

    font-size: 12px;
}

.main-content-header-search > input::placeholder{
    font-weight: 500;
    color: #888888;
}

.main-content-header-search > svg{
    width: 14px;
    fill: rgb(139, 139, 139)
}

.main-content-grids-container{
    flex: 1;
}

.grid-container-header{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.grid-container-header-button{
    background-color: white;
    height: 37px;
    width: 135px;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px rgb(223, 223, 223) solid;

    padding: 0 15px;
    font-size: 12px;
    color: #727272;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.grid-container-header-button > svg{
    width: 10px;
}

.grid-container-header-button:hover{
    box-shadow: 0px 2px 10px #c8ccda;
}

.active-grid-container-header-button{
    color: var(--blue);
    background-color: #e3e9ff;
    font-weight: 600;
}

.active-grid-container-header-button > svg{
    fill: var(--blue);
}

.grid-container-header-sort-by{
    margin-left: auto;
    display: flex;
    align-items: center;

    font-size: 12px;

    margin-right: 30px;
}

.grid-container-header-sort-by-option{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.grid-container-header-sort-by-option > svg{
    width: 10px;
    margin-left: 5px;

    fill: #3d3d3d;
}

.grid-container-header-view-as{
    display: flex;

    background-color: #c2c5cf;
    width: 97px;
    height: 35px;

    border-radius: 7px;

    padding: 3px;
}

.grid-container-header-view-as-option{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    cursor: pointer;
}

.grid-container-header-view-as-option > svg{
    width: 12px;
    color: #727272;
}

.selected-view{
    background-color: var(--wrapper);

    box-shadow: 0px 3px 10px #c4c3c3;
}

.grid{
    margin: 20px 0;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    gap: 20px;
}

.grid-item{
    height: 280px;
    background-color: white;

    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    box-shadow: 0px 0px 3px #d7dbe6;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.grid-item:hover{
    box-shadow: 0px 10px 50px #d7dbe6;
    z-index: 10;
}

.grid-item-more-button{
    align-self: flex-end;
    cursor: pointer;
}

.grid-item-more-button > svg{
    fill: #727272;
    width: 12px;
}

.grid-item-avatar{
    width: 100px;
    height: 100px;
    border-radius: 100px;

    background-color: #F7F7FB;
    background-image: url(./assets/profile-placeholder.jpg);

    padding: 3px;
    position: relative;
}

.ring{
    background-color: transparent;
    border: 1px white solid;
    border-radius: 100px;

    height: 100%;
    width: 100%;
}

.online{
    width: 11px;
    height: 11px;
    border-radius: 12px;
    background-color: white;
    padding: 1.2px;

    

    position: absolute;
    top: 9px;
    right: 9px;

    box-shadow: 0px 10px 10px #c2c5cf;
}

.online-ring{
    border: 2.5px var(--blue) solid;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.grid-item-meta{
    margin: 15px 0;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.grid-item-meta > div:first-child{
    font-size: 13px;
    font-weight: 600;
}

.grid-item-meta > div:last-child{
    margin-top: 7px;
    font-size: 10px;
    font-weight: 500;
    color: #c2c5cf;
}

.grid-item-progress-container{
    display: flex;
    align-items: center;

    color: #c2c2c2;
    font-size: 8px;
    color: #888888;
}

.grid-item-progress-container > svg{
    width: 8px;
    fill: #c2c2c2;
}

.progress-bars{
    display: flex;
    align-items: center;

    margin: 0 10px;

    display: grid;
    grid-template-columns: repeat(3, 30px);
    gap: 5px;
}

.progress-bar{
    background-color: #ECEDF6;
    height: 4px;
    border-radius: 10px;

    display: flex;
    align-items: stretch;

    overflow: hidden;
}
.progress{
    border-radius: 10px;
}

.progress-bar:nth-child(1) > div{
    background-color: #2B51D6;
    width: 100%;
}

.progress-bar:nth-child(2) > div{
    background-color: #577BF9;
    width: 100%;
}

.progress-bar:nth-child(3) > div{
    background-color: #54B5FF;
    width: 100%;
}

.grid-item-bottom-section{
    align-self: stretch;
    margin: -20px;
    margin-top: auto;

    background-color: #F6F6FA;
    border-top: 1px #e3e9ff solid;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 9px;
    color: #888888;
    font-weight: 600;
    text-transform: uppercase;
}

















.right-section{
    width: 290px;
    background-color: white;
}