@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --text: #191A35;
  --svg: #1A1B35;
  --light-text: #9A9AA7;
  --wrapper: #FCFCFE;
  --statistics: #F5F6FB;
  --violet: #434AF9;
  --violet-dark: #2E31BE;
  --violet-light: #5E64F9;
  --yellow: #FFA51D;
  --yellow-dark: #33344B;
  --right-bar-light: #353751;
  --light: #E5E5EA;
  --shadow: #efeff3;

  --card-under: #272A78;
  --card-arrow: #2E31BE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
    height: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
  border-radius: 0px;
  background-color: none;
}

svg{
    width: 20px;
    height: auto;
    fill: var(--svg);
    transition: fill 0.3s ease-out;
}

.wrapper{
    background-color: var(--wrapper);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    min-width: 1000px;
    min-height: 700px;

    overflow: hidden;
    display: flex;
    position: relative;

    color: var(--text);
}

.side-nav{
    background-color: var(--violet);
    background-image: url(./assets/side-nav.png);
    width: 180px;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 50px 0;
    padding-right: 40px;
}

.side-nav svg{
    fill: white;
}

.side-nav-branding{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.side-nav-branding > svg{
    fill: none;

    width: 25px;
    margin-bottom: 10px;
}

.side-nav-brand-name{
    font-weight: 600;
}

.side-nav-brand-name > span{
    font-weight: 300;
}

.side-nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-menu-item, .side-nav-log-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 80px;
    border-radius: 16px;

    margin: 10px;

    font-size: 13px;
    cursor: pointer;
}

.side-nav-menu-item > svg{
    margin-bottom: 5px;
    width: 22px;
}

.active-side-nav-menu-item{
    background-color: var(--violet-light);
}

.side-nav-log-out {
    margin: 0;
}

.side-nav-log-out > svg{
    margin: 0;
}

.main-section{
    background-color: var(--wrapper);
    flex: 1;
    border-radius: 40px 0 0 40px;
    margin-left: -40px;

    display: flex;

    overflow: hidden;
    padding: 40px 0;
}

.main-content-container{
    flex: 1;

    display: flex;
    justify-content: center;
}

.main-content{
    width: 700px;

    display: flex;
    flex-direction: column;
}

.main-content > div{
    padding: 0 40px;
}

.main-content-header{
    display: flex;
    align-items: center;

    padding-bottom: 10px;
}

.main-content-header-search{
    flex: 1;
    display: flex;
    align-items: center;

    border-bottom: 1px var(--light) solid;
    padding: 10px 5px;

    margin-right: 40px;
}

.main-content-header-search > input{
    border: none;
    background-color: transparent;
    outline: none;

    flex: 1;
}

.main-content-header-link{
    color: var(--light-text);
    margin-left: 40px;
    font-size: 11px;
    font-weight: 500;

    cursor: pointer;
}

.main-content-header-search > svg{
    fill: var(--light-text);
    width: 15px;
    margin-right: 10px;
}

.main-content-scrollable{
    flex: 1;
    overflow-y: auto;
}

.main-content-income{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.main-content-income-title{
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 15px;
}

.main-content-income-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-content-income-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px;

    border-radius: 20px;
    font-size: 12px;

    cursor: pointer;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.main-content-income-item:hover{
    background-color: white;
    box-shadow: 0px 0px 20px var(--shadow);
}

.main-content-income-item-graph{
    width: 40px;
    margin-right: 20px;
}

.main-content-income-item-graph > svg{
    fill: transparent;
    width: 100%;
}

.main-content-income-item-meta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content-income-item-meta > div:first-child{
    font-size: 11px;
    color: var(--light-text);
}

.main-content-income-item-meta > div:last-child{
    font-size: 20px;
    font-weight: 500;
}

.main-content-income-item-meta > div:last-child > span{
    font-size: 16px;
    margin-right: 3px;
}


.statistics-container{
    margin-top: 20px;
    background-color: var(--statistics);
    height: 290px;
    border-radius: 20px;

    padding: 20px 25px;

    display: flex;
    flex-direction: column;
}

.statistics-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistics-header-title{
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}

.statistics-header-drop-down{
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 11px;

    padding: 8px 15px;
    border-radius: 20px;

    cursor: pointer;
}

.statistics-header-drop-down > svg{
    fill: var(--light-text);
    margin-left: 5px;
    width: 8px;
}

.statistics-graph{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 30px;
    padding-bottom: 50px;

    position: relative;
}

.statistics-graph-row{
    display: flex;
    align-items: baseline;
}

.statistics-graph-value{
    width: 50px;

    font-size: 10px;
    color: var(--light-text);
}

.dotted-line{
    flex: 1;
    padding: 0;
    border-bottom: 1px rgb(231, 231, 231) dotted;
}

.statistics-data-container{
    position: absolute;
    top: 30px;
    left: 50px;
    right: 0;
    bottom: 54px;

    display: flex;

    justify-content: space-between;

    padding: 0 20px;
}

.statistics-data{
    display: flex;
    align-items: flex-end;

    position: relative;
}

.statistics-data > .statistics-data-bar {
    width: 15px;
    height: 100px;
    border-radius: 20px;

    margin: 0 3px;

    cursor: pointer;
    position: relative;
}

.statistics-data > .statistics-data-bar:nth-child(1){
    background-color: var(--yellow);
    height: 20%;
}

.statistics-data > .statistics-data-bar:nth-child(2){
    background-color: var(--violet);
    height: 50%;
}

.statistics-data-bar > .detail{

    background-color: white;

    position: absolute;
    top: -27px;
    left: 7px;

    transform: translateX(-50%);

    font-size: 8px;
    height: 20px;

    z-index: 100;

    display: none;
    align-items: center;
    justify-content: center;

    padding: 0 10px;
    border-radius: 8px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);

    word-wrap: unset;
}

.statistics-data-bar:hover .detail{
    display: flex;
}

.detail > svg{
    fill: white;
    width: 8px;
    height: 8px;

    position: absolute;
    bottom: -4px;
}

.statistics-data-month{
    font-size: 11px;
    font-weight: 500;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;

    display: flex;
    justify-content: center;

    cursor: pointer;
}


.statistics-tags{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 11px;
    color: var(--light-text);
}

.statistics-tag {
    display: flex;
    align-items: center;

    margin: 0 10px;

    cursor: pointer;
}

.statistics-tag > .color{
    width: 6px;
    height: 6px;
    border-radius: 10px;

    margin-right: 5px;
}

.violet{
    background-color: var(--violet);
}

.yellow{
    background-color: var(--yellow);
}

.category-expenses{
    margin-top: 40px;
}

.category-expenses-header{
    display: flex;
    align-items: center;

    justify-content: space-between;

    margin-bottom: 25px;
}

.category-expenses-title{
    font-size: 18px;
    font-weight: 500;
}

.category-expenses-drop{
    border: 1px var(--light) solid;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 11px;

    padding: 8px 15px;
    border-radius: 20px;

    cursor: pointer;
}

.category-expenses-drop > svg{
    fill: var(--light-text);
    margin-left: 5px;
    width: 8px;
}

.category-expense-items{
    display: flex;
}

.category-expenses-visual-items{
    width: 240px;
    border-right: 1px var(--light) solid;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 20px;
    padding-right: 30px;
    box-sizing: content-box;

    position: relative;
}

.category-expenses-visual-items > .more{
    color: var(--text);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 40px;

    font-size: 11px;

    position: absolute;
    top: 0;
    right: 80px;
}

.category-expenses-visual-items > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 9px;

    cursor: pointer;
}

.category-expenses-visual-items > div > div:first-child{
    font-size: 15px;
    font-weight: 500;
}

.category-expenses-visual-items > div > div:first-child > span{
    font-weight: 300;
    font-size: 11px;

    margin-right: 2px;
}

.category-expenses-visual-items > div > div:last-child{
    font-size: 11px;
    font-weight: 300;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.category-expenses-visual-items > .large{
    width: 150px;
    height: 150px;
    border-radius: 120px;
    background-color: var(--violet);
}

.category-expenses-visual-items > .medium{
    width: 110px;
    height: 110px;
    border-radius: 120px;
    background-color: var(--text);

    margin-left: -30px;
}

.category-expenses-visual-items > .small{
    width: 80px;
    height: 80px;
    border-radius: 120px;

    margin-top: -40px;
    background-color: var(--yellow);
}

.category-expenses-list{
    flex: 1;

    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 14px 0;
    padding-left: 50px;
    padding-right: 10px;
}

.category-expense{
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

.category-expense > div:first-child{
    font-weight: 400;

    display: flex;
    align-items: center;
}

.category-expense > div:first-child::before{
    content:"";
    width: 4px;
    height: 4px;
    border-radius: 10px;

    background-color: var(--text);
    margin-right: 5px;
}

.category-expense > div:last-child{
    font-weight: 500;
    font-size: 15px;
}

.right-bar{
    width: 350px;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
}

.right-bar-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 25px;
}

.right-bar-header-button {
    position: relative;
    margin-left: 25px;
    cursor: pointer;
}

.notification{
    width: 8px;
    height: 8px;
    border-radius: 10px;
    border: 1px var(--wrapper) solid;
    background-color: red;

    position: absolute;
    top: 1px;
    right: 1px;
}

.right-bar-component{
    flex: 1;
    background-color: var(--text);
    color: white;

    border-radius: 30px;
}

.right-bar-header-profile{
    display: flex;
    align-items: center;

    cursor: pointer;
    margin-left: 25px;
}

.right-bar-header-profile-avatar{
    width: 40px;
    height: 40px;
    border-radius: 10px;

    margin-right: 15px;
    background-color: var(--light);
}

.right-bar-header-profile-meta{
    font-size: 12px;
}

.right-bar-header-profile-meta > div:first-child{
    font-weight: 600;
    font-size: 13px;
}

.right-bar-header-profile-meta > div:last-child{
    font-weight: 300;
    font-size: 11px;

    color: var(--light-text);
}