::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dadadb;
}

:root {
  --bg-main: #f3f3f3;
  --red: #f66165;
  --violet: #004afb;
  --green: #46f400;
  --yellow: #ffcc00;
  --ochre: #dc9f59;
}

body {
  background-color: var(--bg-main);
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.components-wrapper {
  display: grid;
  gap: 40px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 650px 375px 270px;
  grid-template-rows: 375px;
  gap: 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 340px 270px 270px 375px;
  grid-template-rows: 400px 75px;
  gap: 40px;
}

.grid-1 > div,
.grid-2 > div {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(224, 224, 224);
}

.grid-2 > .cart {
  grid-row: span 2;
}

.grid-2 > .search {
  grid-column: span 2;
}

.grid-2 > .shoe {
  grid-row: span 2;
}

.sales-report {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 30px 0;

  overflow: hidden;
}

.sales-report > .meta {
  padding: 0 30px;
  border-right: 1px #f0f0f0 solid;
  display: flex;
  flex-direction: column;
}

.sales-report > .meta > div:nth-child(1) {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px #f0f0f0 solid;
}

.meta .figures {
  font-size: 40px;
  font-weight: 700;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
}

.figure .number {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.figure .number i {
  font-size: 30px;
  padding-top: 10px;
}

.figure .sub {
  font-size: 13px;
  font-weight: 500;
  color: #c5c5c5;
}

/* analitycs */

.analytics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.month-data {
  display: flex;
  align-items: center;
  margin: 13px 0;
}

.month-data .month {
  width: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: #4e4d4d;
}

.month-data .graph {
  height: 15px;
  border-radius: 20px;
  background-color: #ecf2fa;

  cursor: pointer;
}

.graph .graph-violet {
  height: 100%;
  background-color: var(--violet);
  border-radius: 20px;

  width: 0%;
  transition: width 2s ease-out;

  box-shadow: 2px 2px 50px #94b4fd;
}
.graph:hover .graph-violet {
  width: 100%;
}

.month-data:nth-child(1) .graph {
  width: 60%;
}

.month-data:nth-child(2) .graph {
  width: 35%;
}

.month-data:nth-child(3) .graph {
  width: 80%;
}

.month-data:nth-child(4) .graph {
  width: 67%;
}

.month-data:nth-child(5) .graph {
  width: 55%;
}

.month-data:nth-child(6) .graph {
  width: 20%;
}

/* payment-methods */

.payment-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.payment-heading {
  font-size: 26px;
  font-weight: 600;

  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.payment-options {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.payment-option {
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.payment-option:hover {
  background-color: #f8faff;
}

.payment-option > .logo {
  margin: 5px 10px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #f2f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-option > .name {
  margin: 0 20px;
  font-weight: 600;
}

.payment-option > i {
  padding: 10px;
  margin-left: auto;
  color: #c5c5c5;
}

/* user-card */

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
  margin-top: 30px;
}

.user-image {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: #dce7ff;

  background-image: url("./assets/man.jpg");
  background-size: cover;
  background-position: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details > div:first-child {
  font-weight: 700;
  font-size: 18px;
}

.user-details > div:last-child {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  color: #c5c5c5;
}

.user-card-button {
  background-color: var(--red);
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  padding: 8px 15px;
  border-radius: 13px;
  font-weight: 700;

  cursor: pointer;

  transition: box-shadow 0.3s ease-out;
}

.user-card-button:hover {
  box-shadow: 2px 2px 20px #faa1a4;
}

.user-datas {
  align-self: stretch;
  display: flex;
  justify-content: space-between;

  padding: 25px;

  border-top: 1px #f0f0f0 solid;
  margin-top: auto;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-data div:first-child {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  color: #c5c5c5;
}

.user-data div:last-child {
  font-weight: 600;
  font-size: 25px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow: hidden;
}

.cart-heading {
  font-size: 26px;
  font-weight: 600;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-products {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow: auto;
}

.cart-product {
  border-top: 1px #f0f0f0 solid;
  height: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
}

.product-image {
  height: 80px;
  width: 80px;
  background-color: #c5c5c5;

  background-size: cover;
  background-position: center;

  margin-left: 20px;

  transition: margin-left 0.3s ease-out;
}

.product-name {
  font-weight: 600;
}

.product-price {
  display: flex;
  font-weight: 700;
  margin-left: 0px;
  transition: margin-left 0.3s ease-out;
}

.product-price-container {
  margin-left: auto;
  width: 80px;
  overflow: hidden;
}

.cart-product:hover {
  box-shadow: 2px 2px 20px rgb(223, 223, 223);
  z-index: 10;
}

.cart-product:hover .product-price {
  margin-left: -80px;
}

.cart-product:hover .product-image {
  margin-left: 25px;
}

.product-price > div {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.product-price > .delete-btn-div {
  color: white;
  background-color: var(--red);
}

.cart-product:nth-child(1) .product-image {
  background-image: url("./assets/product1.jpg");
}

.cart-product:nth-child(2) .product-image {
  background-image: url("./assets/product2.jpg");
}

.cart-product:nth-child(3) .product-image {
  background-image: url("./assets/product3.jpg");
}

.cart-product:nth-child(4) .product-image {
  background-image: url("./assets/product4.jpg");
}

.cart-product:nth-child(5) .product-image {
  background-image: url("./assets/product5.jpg");
}

.cart-product:nth-child(6) .product-image {
  background-image: url("./assets/product6.jpg");
}

/* brand */

.brand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-heading {
  font-size: 26px;
  font-weight: 600;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.brands {
  flex: 1;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 0 25px;
}

.brand {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 20px;
  cursor: pointer;

  transition: background-color 0.3s ease-out;
}

.brand:hover {
  background-color: #e7e7e7;
}

.brand-logo {
  margin: 5px 0px;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #f2f6ff;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
}

.brand-name {
  font-weight: 600;
  margin-left: 20px;
}

.brands .brand:nth-child(1) > .brand-logo {
  background-image: url("./assets/nike.jpg");
}

.brands .brand:nth-child(2) > .brand-logo {
  background-image: url("./assets/jordan.jpg");
}

.brands .brand:nth-child(3) > .brand-logo {
  background-image: url("./assets/converse.jpg");
}

.brands .brand:nth-child(4) > .brand-logo {
  background-image: url("./assets/rebook.jpg");
}

/* size */

.size {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.size-heading {
  font-size: 26px;
  font-weight: 600;

  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.size-options-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.more-button {
  margin-top: auto;
  border: 1px rgb(207, 207, 207) solid;

  padding: 15px 0;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 17px;

  cursor: pointer;
  transition: background-color 0.3s ease-out, border 0.3s ease-out;
}

.size-options {
  flex: 1;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding-bottom: 10px;
}

.size-option {
  position: relative;
  cursor: pointer;
}

.size-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-option {
  width: 100%;
  height: 100%;
  border: 1px rgb(207, 207, 207) solid;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 25px;

  background-color: white;
  transition: background-color 0.3s ease-out, border 0.3s ease-out;
}

.custom-option:hover,
.more-button:hover,
.size-option input:checked + .custom-option {
  color: white;
  background-color: black;
  border-color: black;
}
