::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: none;
  }



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

svg{
    width: 12px;
    height: auto;
}

body{
    padding: 10px;
    height: 100vh;
    background-color: #F3F4F5;
}

.wrapper{
    height: 100%;
    display: flex;

    border-radius: 10px;
    overflow: hidden;

    border: 1px #e7e9eb solid;
}

.main-contents{
    flex: 1;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.main-header{
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 70px;
    padding: 0 80px;

    box-shadow: 0 1px 5px #c4c6ce85;
}

.back-btn{
    background-color: #F3F4F5;
    border: 0.5px #F3F4F5 solid;
    height: 30px;
    width: 30px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border 0.3s ease-out;
    cursor: pointer;
}

.back-btn:hover{
    border: 0.5px #8d909c solid;
}
.back-btn svg{
    width: 12px;
}

.main-header-back-btn-message{
    margin-right: auto;
    font-size: 12px;
    color: #8D909C;
    font-weight: 400;
    margin-left: 15px;
}


.main-header-btn{
    font-size: 12px;
    font-weight: 500;
    height: 35px;
    padding: 0 13px;
    border-radius: 5px;
    border: 0.5px #8d909c55 solid;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;

    transition: border 0.3s ease-out;
    cursor: pointer;
}

.main-header-btn:hover{
    border: 0.5px #8d909c solid;
}

.main-header-btn svg{
    width: 12px;
    margin-right: 10px;
}

.main-section{
    flex: 1;
    overflow-y: auto;

    padding: 50px 80px 0px 80px;

    display: flex;
    flex-direction: column;
}

.property-details{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}


.property-details-header{
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.property-details-header div:first-child{
    margin-right: auto;
    font-size: 13px;
    color: #8d909c;
}

.property-details-btn{
    font-size: 11px;
    font-weight: 500;
    height: 30px;
    padding: 0 13px;
    border-radius: 5px;
    border: 0.5px #8d909c55 solid;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10px;

    transition: border 0.3s ease-out;
    cursor: pointer;
}

.property-details-btn:hover{
    border: 0.5px #8d909c solid;
}

.property-details-btn svg{
    width: 10px;
    margin-right: 8px;
}

.property-detail{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

    background-color: #F3F4F5;
    display: flex;
    align-items: center;

    transition: box-shadow 0.3s ease-out;

    cursor: pointer;
}

.property-detail:hover{
    box-shadow: 0 2px 5px #a0a2a89f;
}

.property-image{
    width: 45px;
    height: 45px;
    border-radius: 7px;

    background-image: url(./assets/house.jpg);
    background-size: cover;
    background-position: center;

    margin-right: 20px;
}

.property-meta{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.property-general-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.property-general-details div:first-child{
    font-size: 11px;
    color: #8D909C;
    font-weight: 400;
    margin-bottom: 3px;
}

.property-general-details div:last-child{
    font-size: 13px;
    font-weight: 400;
}

.property-meta div:last-child{
    align-items: flex-end;
}


.property-detail svg{
    width: 10px;
    margin-left: 30px;
}

.property-associated-people-details{
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.associated-person{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    border: 0.5px #8d909c55 solid;
    transition: border 0.3s ease-out;
    cursor: pointer;

    padding: 10px;
}

.associated-person:hover{
    border: 0.5px #8d909c solid;
}

.associated-person-logo, .associated-person-message{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px black solid;
}

.associated-person-logo svg{
    width: 13px;
}

.associated-person-message svg{
    width: 16px;
}

.associated-person-message{
    border-radius: 5px;
    border-color: #e7e9eb;
    width: 35px;
    margin-left: auto;

    transition: border-color 0.3s ease-out;
}

.associated-person-message:hover{
    border-color: #9b9b9b;
}


.associated-person-details{
    height: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.associated-person-details div:first-child{
    font-size: 11px;
    color: #8D909C;
    font-weight: 400;
}

.associated-person-details div:last-child{
    font-size: 13px;
    font-weight: 400;
}

.documents{
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 10px 10px 0 0 ;

    margin-top: 20px;
    overflow: hidden;

}

.documents-header{
    display: flex;
    padding: 10px;
}

.documents-btn{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border:1px #8d909c55 solid;
    font-size: 12px;

    cursor: pointer;
    transition: border 0.3s ease-out;
}

.light-btn{
    color: #8D909C;
}

.light-btn svg{
    width: 10px;
    margin-left: 10px;
}

.bolder-btn{
    font-weight: 500;
    padding: 0 9px;
}
.bolder-btn svg:first-child{
    margin-top: -2px;
    margin-right: 5px;
    fill: #9b9b9b;
}

.bolder-btn svg:last-child{
    width: 20px;
    margin-left: 10px;
    fill: #9b9b9b;
}

.blue-btn{
    font-weight: 500;
    margin-left: auto;
    margin-right: 10px;
    background-color: #4166FF;
    border-color: #4166FF;
    color: white;
}

.blue-btn svg{
    margin-top: -2px;
    fill: #FFFFFF;
    margin-right: 10px;
}

.light-btn:hover, .bolder-btn:hover{
    border-color: #8d909c;
}


.documents-table{
    display: flex;
    flex-direction: column;
}

.documents-table-row, .documents-table-heading{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 15px 25px;
    border-bottom: 0.5px #f8f8f8 solid;
    font-size: 12px;
}

.documents-table-row-item{
    display: flex;
    align-items: center;
}

.documents-table-heading svg{
    width: 7px;
    fill: #8d909c;
    margin-left: 6px;
}

.documents-table-heading{
    background-color: #F3F4F5;
    font-size: 10px;
    color: #8d909c;
    font-weight: 300;
    padding: 10px 25px
}


.file-name-logo{
    width: 23px;
    height: 23px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px black solid;

    margin-right: 6px;
}

.file-name-document-svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-name-document-svg svg{
    fill: #8d909c;
    width: 20px;
    margin-right: 6px;
}

.file-name{
    display: flex;
    flex: 1;
    flex: 0 1 auto;
    min-width: 0;
}

.file-name div:first-child{
    text-overflow: ellipsis;
}

.table-item-drop-down{
    font-size: 11px;
    font-weight: 400;
    height: 30px;
    padding: 0 13px;
    border-radius: 5px;
    border: 0.5px #8d909c55 solid;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border 0.3s ease-out;
    cursor: pointer;
}

.table-item-drop-down:hover{
    border: 0.5px #8d909c solid;
}

.table-item-drop-down svg{
    width: 8px;
    margin-left: 7px;
}



.documents-table-row-buttons{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.documents-table-row-buttons > div{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.documents-table-row-buttons > div:nth-child(1){
    position: relative;


    height: 26px;
    width: 30px;
    border-radius: 5px;

    border: 0.5px #8d909c55 solid;

    margin-right: 15px;

    transition: border-color 0.3s ease-out;
}

.documents-table-row-buttons > div:nth-child(1):hover{
    border-color: #4166FF;
}

.documents-table-row-buttons > div:nth-child(1) > svg{
    width: 14px;
}

.documents-table-row-buttons > div:nth-child(2) > svg{
    width: 7px;
}

.btn-drop-down{
    visibility: hidden;
    position: absolute;
    top: 26px;
    margin-top: 4px;
    right: 0;
    min-width: 120px;
    border-radius: 4px;

    padding: 5px 0;
    z-index: 10;
    background-color: white;
    box-shadow: 2px 2px 20px #e7e9eb;
}

.drop-down-fix{
    position: absolute;
    top: -30px;
    right: 0;
    
    height: 30px;
    width: 50px;
}

.documents-table-row-buttons > div:nth-child(1):hover .btn-drop-down{
    visibility: visible;
}

.btn-drop-down > .drop-down-item{
    display: flex;
    align-items: center;

    padding: 8px 10px;

    font-size: 11px;
    line-height: 11px;
    color: #8d909c;
    font-weight: 400;

    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.drop-down-item:hover{
    background-color: #F3F4F5;
}

.drop-down-item > svg{
    width: 10px;
    fill: #8d909c;

    margin-right: 5px;
    margin-top: -2px;
}



.documents-table-rows{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-contents{
    width: 300px;
    background-color: aqua;
}
