::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a7aab1;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 100vh;

  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
}

.wrapper > .chat-main {
  flex: 1;
  min-width: 600px;
  background-color: aqua;
}

.side-nav {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.89);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile-info {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.profile-img {
  background-color: rgb(223, 223, 223);
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: 4px white solid;

  background-image: url("./assets/profile-img.jpg");
  background-size: cover;
  background-position: center;

  transition: box-shadow 0.3s ease-out;
}

.profile-info:hover .profile-img {
  box-shadow: 0px 10px 10px rgb(199, 199, 199);
}

.profile-name {
  margin-top: 7px;
  font-size: 13px;
  font-weight: 700;
}

.profile-name i {
  margin-left: 5px;
  font-size: 10px;
}

.nav-menu {
  margin-top: 40px;
}

.nav-menu-item {
  padding: 10px 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: rgb(153, 153, 153);

  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.11);
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.nav-menu-item > span {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 15px;
}

/* Home svg debugging hack */
.nav-menu-item:first-child svg {
  margin-top: -3px;
}

.nav-menu-item svg {
  width: 13px;
  height: auto;
  fill: rgb(153, 153, 153);
  transition: fill 0.3s ease-out;
}

.nav-menu > .active-menu-item {
  border-left-color: blue;
  color: blue;
}

.nav-menu > .active-menu-item > svg {
  fill: blue;
}
.nav-menu-item:hover {
  color: blue;
}

.nav-menu-item:hover > svg {
  fill: blue;
}

.all-chats {
  width: 400px;
  padding-left: 80px;
  background-color: #f5f3fe;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.all-chat-heading {
  font-weight: 500;
  font-size: 27px;

  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.chat-search {
  display: flex;
  align-items: center;

  padding-bottom: 13px;
  border-bottom: 1px rgb(233, 233, 233) solid;

  margin-right: 20px;
}

.chat-search > input {
  width: 100%;

  background-color: #f5f3fe;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.chat-search > input::placeholder {
  font-weight: 200;
}

.chat-search > svg {
  width: 16px;
  height: auto;

  fill: rgb(95, 95, 95);
}

.chats-list {
  padding-top: 10px;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-right: 10px;

  overflow-y: auto;
  overflow-x: visible;
}

.chat-item {
  background-color: white;

  margin-right: 7px;
  margin-bottom: 10px;

  padding: 20px;
  display: flex;
  align-items: center;

  border-radius: 2px;
  box-shadow: 0px 2px 10px rgb(221, 221, 221);

  cursor: pointer;
  transition: all 0.3s ease-out;
}

.chat-item:hover {
  /* margin-left: -20px;
  margin-right: -20px; */

  box-shadow: 0px 5px 20px rgb(199, 199, 199);
  z-index: 10;
}

.chat-dp {
  background-color: #a7aab1;
  width: 40px;
  height: 40px;
  border-radius: 40px;

  background-image: url(./assets/man.jpg);
  background-position: center;
  background-size: cover;

  position: relative;
}

/* .chat-item:nth-child(1) > .chat-dp {
  background-image: url(./assets/man.jpg);
} */

.chat-dp-online {
  background-color: #3cc100;
  width: 5px;
  height: 5px;

  border: 2px white solid;
  border-radius: 5px;

  position: absolute;
  right: 0;

  margin: 1px;
}

.chat-item-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  margin-left: 10px;
}

.chat-item-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;

  margin-bottom: 2px;
}

.chat-item-message {
  font-size: 11px;
  line-height: 10px;
  color: #a7aab1;
}

.chat-item-meta {
  margin-left: auto;
  align-self: stretch;

  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: space-between;
}

.chat-item-sent-date {
  color: #a7aab1;
  font-size: 10px;
}

.chat-item-unread-messages {
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 10px;

  height: 14px;
  width: 14px;
  border-radius: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;
}
