@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: none;
  }



*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

svg{
    width: 16px;
    fill: white;
    height: auto;
}


.wrapper{
    height: 100vh;
    max-height: 100vh;
    display: flex;
    background-color: #272237;
    color: white;

    
}

.side-bar{
    width: 50px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logo{
    width: 50px;
    height: 50px;

    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px #423C55 solid;
    border-bottom: 1px #423C55 solid;
}

.side-nav{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;

    border-right: 1px #423C55 solid;
}

.side-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3px 0;
    width: 34px;
    height: 34px;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.side-nav-item:hover, .side-nav > .active-nav-item{
    background-color: #07C7E0;
}

.side-nav-item:hover svg, .side-nav > .active-nav-item svg{
    fill: black;
    stroke: black;
}

.side-nav-item svg{
    fill: #9A97A5;
    stroke: #9A97A5;

    transition: fill 0.3s ease-out, stroke 0.3s ease-out;
}

.side-nav .side-nav-item:last-child{
    margin-top: auto;
}

.main-area{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.heading-bar{
    height: 50px;
    border-bottom: 1px #423C55 solid;

    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.heading-bar-meta{
    display: flex;
    align-items: center;

    margin-right: 20px;
    font-size: 11px;
    font-weight: 300;

    cursor: pointer;
}

.heading-bar-meta svg{
    width: 12px;
    margin-right: 10px;
}

.heading-bar-meta div{
    margin-top: 2px;
}

.heading-bar-profile{
    align-self: stretch;
    height: 50px;
    width: 50px;
    border-left: 1px #423C55 solid;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.heading-bar-profile svg{
    width: 18px;
}


.search-bar{
    margin-right: auto;

    display: flex;
    align-items: stretch;

    margin-left: 20px;
}

.search-bar svg{
    align-self: center;
    width: 12px;
}

.search-bar input{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;

    margin-left: 10px;

    width: 600px;
    color: white;
}

.search-bar input::placeholder{
    color: #9A97A5;
    font-weight: 500;
}


.main-content{
    flex: 1;

    display: flex;
    overflow-y: hidden;
}

.calendars{
    align-self: stretch;


    background-color: #1D182B;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.calendars-heading{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px #423C55 solid;
}

.calendars-heading div:first-child{
    font-weight: 600;
    font-size: 16px;
}

.calendars-heading div:last-child{
    background-color: #423C55;
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    font-weight: 300;
    font-size: 12px;

    cursor: pointer;
}

.calendars-list{
    flex: 1;
    overflow-y: auto;
}


.calendar{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    padding: 0px 10px;

    padding-bottom: 20px;
    border-bottom: 1px #9a97a532 solid;
}

.calendar:last-child{
    border-bottom: 0px;
}

.calendar-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
}

.calendar-heading > div:first-child{
    font-weight: 500;
}

.calendar-heading > div:last-child{
    font-size: 12px;
    font-weight: 300;
    color: #9A97A5;
}


.calendar-days{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-day{
    display: flex;
    justify-content: center;
    align-items: center;
}

.holiday-day{
    color: #9A97A5;
}

.calendar-day > div{
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 20px;
    /* background-color: #575757; */
}

.calendar-days-separation{
    height: 1px;
    background-color: #9a97a532;

    margin: 0 17px;
    margin-top: 10px;
}

.calendar-dates-grid{
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-date{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9A97A5;
}

.invalid-date{
    color: #9a97a532;
}

.active-date > div{
    background-color: #07C7E0;
    color: black;
    font-weight: 600;
}



.calendar-date > div{
    font-size: 13px;
    

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 20px;
    
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;

    position: relative;
}

.calendar-date > div:hover{
    background-color: #9a97a532;
    color: white;
}

.invalid-date > div:hover{
    color: #9a97a532;
}

.active-date > div:hover{
    background-color: #07C7E0;
    color: black;
}


.date-notification{
    width: 3px;
    height: 3px;
    border-radius: 10px;

    background-color: red;

    position: absolute;
    bottom: 0px;
}

.calendars-pagination{
    display: flex;
    height: 50px;
    font-size: 12px;
    font-weight: 600;

    border-top: 1px #9a97a532 solid;
}

.calendars-pagination svg{
    width: 7px;
    margin: 10px;
}

.calendars-pagination > div{
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.calendars-pagination span{
    transition: margin 0.3s ease-out;
}

.calendars-pagination > div:hover span{
    margin: 10px;
}

.calendars-pagination > div:first-child{
    border-right: 1px #423C55 solid;
}

.schedule-breakdown{
    padding: 25px;
    padding-bottom: 0px;
    flex: 1;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    position: relative;
}

.schedule-heading-bar{
    display: flex;
    flex-direction: column;
}

.schedule-date{
    font-weight: 500;
    font-size: 16px;
}

.schedule-overview{
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px #423C55 solid;
}

.schedule-overview-avatars{
    display: flex;
    align-items: center;
}

.schedule-overview-avatar, .schedule-content-avatar{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 40px;

    background-color: orange;

    color: white;
    font-weight: 400;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-size: cover;

    cursor: pointer;
}

.schedule-overview-avatar:nth-child(1){
    background-color: #D6E1E3;

    background-image: url('./assets/profile-1.jpg');
}

.schedule-overview-avatar:nth-child(2){
    background-color: #FDB40F;
}

.schedule-overview-avatar:nth-child(3){
    background-color: #6352E9;
}

.schedule-overview-avatar:nth-child(4){
    background-color: #FF5BF5;
}

.schedule-overview-avatar:nth-child(5){
    background-color: #5F9BE7;
    background-image: url('./assets/profile-2.png');
}

.appointments-number{
    margin-left: 10px;
    font-weight: 300;
    font-size: 12px;
    color: #9A97A5;

    margin-right: auto;
}

.schedule-view-type{
    padding: 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: opacity 0.3s ease-out;
    opacity: 0.5;

}

.schedule-view-type > svg{
    width: 10px;
    margin-right: 10px;
}

.schedule-view-type > span{
    font-size: 12px;
    font-weight: 600;
}

.schedule-view-type:hover{
    opacity: 1;
}

.active-schedule-view{
    opacity: 1;
}


.schedules-list{
    padding-top: 15px;
    flex: 1;
    overflow-y: auto;
}

.schedule-item{
    display: flex;
    justify-content: flex-start;

    margin-bottom: 8px;
}

.schedule-time{
    margin-top: 2px;
    font-size: 10px;
    font-weight: 400;

    width: 45px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.schedule-content{
    margin-left: 15px;
    padding: 0 17px;
    border-radius: 10px;
    border: 1px #423C55 solid;

    flex: 1;
    display: flex;
    align-items: center;

    
    transition: background-color 0.3s ease-out;

    cursor: pointer;
}

.normal-content{
    background-color: #423C55;
}

.no-content{
    margin-top: 7px;
    margin-left: 15px;
    flex: 1;
    height: 1px;
    background-color: #675F7E;

    margin-bottom: 20px;
}

.special-content{
    background-image: url(./assets/special.svg);

    background-position: center;
    background-size: cover;
}

.special-content svg{
    width: 12px;
}

.one-hour{
    height: 65px;
}

.half-hour{
    height: 33px;
}

.schedule-content:hover{
    background-color: #675F7E;
}

.schedule-content-controlls{
    opacity: 0;
    margin-left: auto;

    display: flex;
    align-items: center;

    transition: opacity 0.3s ease-out;
    
}

.schedule-content-button{
    padding: 8px 15px;
    margin-right: 15px;
    color: black;

    background-color: white;
    border-radius: 5px;

    font-size: 10px;
    font-weight: 600;
}

.schedule-content:hover .schedule-content-controlls{
    opacity: 1;
}

.schedule-content-title{
    font-size: 12px;

    margin-left: 10px;
}

.add-new-schedule{
    position: absolute;
    bottom: 20px;
    right: 20px;

    background-color: #07C7E0;

    width: 45px;
    height: 45px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: 300;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.add-new-schedule:hover{
    box-shadow: 0px 5px 20px #07c7e073;
}