@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* font-size: 14px; */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
    height: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
  border-radius: 0px;
  background-color: none;
}

:root{
    --grey-search: #EEEEEE;
    --grey-search-dark: #767676;
    --light-green: #34B472;
}

svg{
    width: 15px;
    height: auto;
}

header{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;

    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.164);

    z-index: 1000;

    font-size: 14px;
}

.header-main{
    display: flex;
}

.header-branding{
    display: flex;
    align-items: center;
    margin-right: 20px;

    cursor: pointer;
}

.header-branding > img{
    height: 32px;
    margin-right: 10px;
}

.header-branding > .unsplash-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.unsplash-text > div:first-child{
    font-weight: bold;
    font-size: 15px;
}

.unsplash-text > div:last-child{
    font-size: 13px;
    font-weight: 400;
}

.header-search{
    display: flex;
    align-items: center;
    flex: 1;

    background-color: var(--grey-search);
    margin-right: 40px;
    border-radius: 20px;
    padding: 0 8px;
    
    height: 35px;
    border: 1px rgba(204, 204, 204, 0) solid;
}

.header-search:hover{
    border: 1px rgb(204, 204, 204) solid;
}

.header-search > input{
    width: 0;
    flex: 1;
    flex-shrink: 0;
    align-self: stretch;
    background-color: var(--grey-search);
    box-shadow: none;
    outline: none;
    border: none;
    min-width: 0;

    font-size: 13px;
}

.header-search > input::placeholder{
    color: var(--grey-search-dark);
}

.header-search > div > svg{
    fill: var(--grey-search-dark);
    padding: 0 10px;
    cursor: pointer;
}

.header-text-search-logo > svg:hover{
    fill: black;
}

.header-text-search-logo:first-child > svg{
    margin-bottom: -2px;
}

.header-nav{
    align-self: stretch;
    display: flex;
    align-items: stretch;

    margin-right: 30px;
    font-size: 14px;
}

.header-nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--grey-search-dark);
    cursor: pointer;

    position: relative;

    flex-shrink: 0;
}

.nav-item-sup{
    margin-left: 3px;
    align-self: stretch;
    color: linear-gradient(to bottom right, red, yellow);
    background-clip: text;
    font-size: 10px;
}

.nav-item-sup > span{
    background: -webkit-linear-gradient(rgb(245, 0, 0), #7C6DE7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-nav-item{
    fill: var(--grey-search-dark);
}


.header-nav-item:hover{
    color: black;
    fill: black;
}

.header-nav-more > svg{
    width: 18px;
}


.header-auth{
    display: flex;
}

.header-submit-photo{
    border-radius: 5px;
    border: 0.5px var(--grey-search-dark) solid;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: 5px 0;

    color: var(--grey-search-dark);
    
    font-size: 14px;
    cursor: pointer;

    margin-right: 30px;
}

.header-submit-photo:hover{
    color: black;
    border-color: black;
}

.header-auth{
    padding-left: 30px;
    border-left: 0.5px var(--grey-search-dark) solid;

    display: flex;
    align-items: stretch;
    font-size: 14px;
    color: var(--grey-search-dark);

    margin: 5px 0;
}

.header-auth > div{
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    cursor: pointer;
}

.header-auth > .join{
    margin-left: 10px;
    background-color: var(--light-green);
    color: white;
}

.header-auth > .join:hover{
    background-color: #289e61;
}

.header-auth > .login:hover{
    color: black;
}

.header-ham{
    margin-left: 10px;
    align-self: stretch;
    display: none;
    align-items: center;
    cursor: pointer;
}
.header-ham > svg{
    width: 20px;
    fill: var(--grey-search-dark);
}
.header-ham > svg:hover{
    fill: black;
}

header > nav{
    margin-top: 20px;
    display: flex;
    height: 50px;
}


nav > section{
    display: flex;
    align-items: stretch;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--grey-search-dark);
    cursor: pointer;
}

.nav-item:hover{
    color: black;
}

nav > .editorial > .nav-item{
    margin-right: 20px;
}

.scrollable-small{
    display: none;
}

nav > .editorial::after {
    align-self: center;
    content: "";
    background-color: #b3b3b3;
    width: 1px;
    height: 30px;
}



nav > .nav-scrollable{
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    overflow-x: scroll;
}

nav > .nav-scrollable > .nav-item{
    flex-shrink: 0;
    margin-right: 20px;
    color: var(--grey-search-dark);

    font-weight: 400;

    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > .nav-scrollable > .nav-item:hover{
    color: black;
    cursor: pointer;
}

.active-nav-item{
    color: black;
    border-bottom: 2px black solid;
    font-weight: 500;
}

.unsplash-landing{
    height: 600px;
    background-color: black;
    background-image: url(./assets/photo-of-the-day.jpg);
    background-position: center;
    background-size: cover;
    color: white;

    position: relative;
}

.unsplash-landing-filter{
    background-color: rgba(0, 0, 0, 0.397);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.unsplash-landing-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 100px;
}

.unsplash-landing-main > .main-text{
    font-size: 45px;
    font-weight: 600;    

    margin-bottom: 20px;
}

.unsplash-landing-main > .sub-text{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 30px;

    font-weight: 400;
}

.unsplash-landing-main > .sub-text > a{
    text-decoration: underline;
    color: rgb(218, 218, 218);
    font-size: 18px;
}

.unsplash-landing-main > .sub-text > a:hover{
    color: white;
}

.unsplash-landing-main > .unsplash-landing-search{
    display: flex;
    align-items: center;
    background-color: white;

    width: 60vw;
    height: 50px;

    margin-bottom: 20px;
    border-radius: 3px;
    background-clip:padding-box;
    border: 5px rgba(0, 0, 0, 0) solid;
}

.unsplash-landing-main > .unsplash-landing-search:hover{
    border: 5px rgba(0, 0, 0, 0.274) solid;
}

.unsplash-landing-main > .unsplash-landing-search > input{
    flex: 1;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 15px;
}

.unsplash-landing-main > input::placeholder{
    color: var(--grey-search-dark);
}

.unsplash-landing-main > .unsplash-landing-search > .unsplash-landing-search-logo{
    padding: 0 16px;
    fill: var(--grey-search-dark);
    cursor: pointer;
}

.unsplash-landing-main > .unsplash-landing-search > .unsplash-landing-search-logo:hover{
    fill: black;
}

.unsplash-landing-main > .unsplash-landing-search > .unsplash-landing-search-logo > svg{
    width: 17px;
}

.unsplash-landing-main > .search-trending{
    display: flex;
    cursor: default;

    font-size: 14px;
}



.unsplash-landing-main > .search-trending > .trending-items a{
    color: rgb(204, 204, 204);
    margin-left: 3px;
    text-decoration: none;
}

.unsplash-landing-main > .search-trending > .trending-items a:hover{
    color: white;
}



.unsplash-landing-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: flex-end;
    margin: 20px;

    font-size: 12px;
}

.unsplash-landing-footer > div{
    flex: 1;
    display: flex;
}

.unsplash-landing-footer > .photo-of-the-day{
    justify-content: flex-start;
}

.unsplash-landing-footer > .unsplash-license{
    justify-content: center;
}

.unsplash-landing-footer > .ad{
    justify-content: flex-end;
}


.unsplash-landing-footer {
    color:rgb(149, 149, 149)
}

.unsplash-landing-footer a{
    color:rgb(211, 211, 211);
    text-decoration: none;
}

.unsplash-landing-footer > .ad a{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.unsplash-landing-footer .ad svg{
    height: 20px;
    width: auto;
    fill: rgb(211, 211, 211);
    margin-bottom: 10px;
}

.unsplash-landing-footer a:hover{
    color: white;
}

.ad > a:hover svg{
    fill: white;
}

.image-list{
    padding: 40px 10px;
    column-count: 3;
    column-gap: 25px;
    max-width: 1300px;
    margin: 0 auto;
    /* column-fill: auto; */
    /* column-gap: 20px; */
}

.image-list-item{
    cursor: zoom-in;
    margin-bottom: 25px;
    height: auto;
    position: relative;
}

.image-overlay{
    background-color: rgba(0, 0, 0, 0.212);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: background-color 0.3s ease-out;
    visibility: hidden;

    margin-bottom: 3px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    padding: 20px;

    color: var(--grey-search);
}

.overlay-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overlay-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay-button{
    background-color: var(--grey-search);
    display: inline-block;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 33px;
    width: 40px;
    border-radius: 3px;

    margin-left: 10px;
    cursor: pointer;

    fill: var(--grey-search-dark);
}

.overlay-button:hover{
    cursor: pointer;
    fill: black;
    background-color: white;
}

.image-list-item:hover .image-overlay{
    visibility: visible;
}

.image-list-item > img{
    width: 100%;
}

.overlay-creator{
    display: flex;
    align-items: center;

    cursor: default;
}

.creator-avatar{
    background-color: var(--grey-search);
    height: 33px;
    width: 33px;
    border-radius: 30px;

    margin-right: 10px;

    overflow: hidden;
    cursor: pointer;
}

.creator-avatar > img{
    width: 100%;
}

.creator-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.creator-name{
    font-size: 14px;

    cursor: pointer;
}

.creator-name:hover{
    color: white;
}

.creator-details > .creator-availability{
    fill: var(--grey-search);
    display: flex;
    align-items: center;

    font-size: 11px;
    margin-top: 4px;
    cursor: pointer;
}

.creator-availability:hover{
    color: white;
}

.creator-availability svg{
    width: 9px;

    margin-left: 3px;
    margin-bottom: -1px;
}

@media (max-width: 1200px){
    .header-branding > .unsplash-text{
        display: none;
    }
}

@media (max-width: 1000px){
    .header-submit-photo span{
        display: none;
    }
    .header-submit-photo::after{
        content: "Submit";
    }

    .header-search > input::placeholder{
        content: "Hola";
    }

    .header-search{
        margin-right: 20px;
    }
}

@media (max-width: 750px){
    .header-nav, .header-submit-photo, .header-auth{
        display: none;
    }

    .header-branding{
        margin-right: 0;
    }

    .header-search{
        margin: 0 10px;
    }

    .header-branding > img{
        height: 25px;
        margin-right: 10px;
    }

    .header-ham{
        display: flex;
    }

    nav > .editorial{
        display: none;
    }

    nav > .nav-scrollable{
        margin-left: 0px;
    }

    .unsplash-landing{
        height: 310px;
    }

    .unsplash-landing-main > .unsplash-landing-search{
        display: none;
    }

    .unsplash-landing-main > .search-trending{
        display: none;
    }

    .unsplash-landing-footer > .ad{
    justify-content: flex-start;
    }

    .unsplash-landing-footer > .photo-of-the-day{
        display: none;
    }

    .unsplash-landing-footer > .unsplash-license{
        display: none;
    }
    
}