@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;

}

.wrapper{
    height: 100vh;
    display: flex;
    color: #0E1C47;
}

svg{
    width: 20px;
    height: auto;
}

/* SIDE-NAV */

.side-nav{
    display: flex;
    flex-direction: column;

    width: 250px;
    border-right: 1px rgb(226, 226, 226) solid;

    padding: 0 30px;
}

.side-nav .profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    cursor: pointer;
}

.profile-details .avatar{
    width: 80px;
    height: 80px;
    border-radius: 95px;
    margin-bottom: 13px;

    background-image: url(./assets/Profile.png);
    background-position: center;
    background-size: cover;

    position: relative;

    transition: box-shadow 0.3s ease-out;
}

.profile-details:hover .avatar{
    box-shadow: 0px 8px 20px #ccd0da;
}

.pro-badge{
    background: linear-gradient(104.11deg, #FF7D86 5.78%, #FF001D 86.48%);

    height: 13px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    font-size: 7px;
    letter-spacing: 1.5px;
    border-radius: 20px;

    position: absolute;
    top: 10px;
    right: -10px;
}

.pro-badge span{
    padding-left: 1.5px;
}

.profile-meta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-meta div:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    height: 18px;

    margin-bottom: 5px;
}


.profile-meta div:nth-child(2){
    font-weight: 300;
    font-size: 12px;
    color: #8C92A6;
}

/* MAIN _ NAV */

.main-nav{
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 15px 0;
}

.nav-item{
    display: flex;
    align-items: center;
    fill: #8C92A6;
    stroke: #8C92A6;

    cursor: pointer;

    transition: all 0.3s ease-out;
    margin: 8px 0;
}

.nav-item div:nth-child(1){
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item div:nth-child(2){
    font-weight: 600;
    font-size: 14px;
}

.nav-item svg{
    width: 15px;
    height: auto;
}

.nav-item:hover, .main-nav .nav-item-active{
    fill: blue;
    color: blue;
    stroke: blue;
}

.main-nav-heading{
    color: #8C92A6;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

.connected-device{
    display: flex;
    margin-top: auto;
    margin-bottom:20px;

    background-color: #E8ECF7;
    border-radius: 10px;
    padding: 6px 10px;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.connected-device:hover{
    box-shadow: 5px 5px 10px #ccd0da;
}

.device-image{
    height: 60px;
    width: 60px;
    background-image: url(./assets/iphoneX.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: white;
    border-radius: 10px;
}

.device-meta{
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.device-meta div:nth-child(1){
    font-weight: 600;
    font-size: 14px;
}

.device-meta div:nth-child(2){
    font-weight: 300;
    font-size: 10px;
    color: #8C92A6;
}

.eject{
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.eject:hover svg{
    fill: rgb(58, 58, 58);
}

.eject svg{
    width: 10px;
    height: auto;
    fill: #8C92A6;
    transition: fill 0.3s ease-out;
}

/* MAIN CONTENT */

.main-content{
    flex: 1;
    background-color: #FDFDFE;
    overflow: hidden;
}

.heading-bar{
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.search{
    display: flex;
    align-items: center;

    padding: 5px 10px;
    border: 1px #ccd0da solid;
    border-radius: 20px;
}

.search svg{
    fill: #8C92A6;
    width: 17px;
    margin-left: 10px;
}

.search input{
    border: none;
    outline: none;
    width: 350px;
    color: #8C92A6;
}

.search input::placeholder{
    color: #b5bbc8;
    font-weight: 500;
}

.heading-bar div:nth-child(2){
    margin-left: auto;
}

.heading-bar-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    padding: 8px;
    fill: #8C92A6;

    position: relative;
    transition: background-color 0.3s ease-out;
    background-color: #f1f1f100;

    cursor: pointer;
}

.heading-bar-btn:hover{
    background-color: #f1f1f1;
}

.heading-bar-btn svg{
    width: 17px;
}

.heading-bar-btn .notification{
    width: 7px;
    height: 7px;
    border-radius: 7px;

    background-color: red;
    border: 1px white solid;

    position: absolute;
    top: 8px;
    right: 8px;
}

.upgrade-plan{
    margin-left: 10px;
    padding: 5px 15px;

    background: linear-gradient(104.11deg, #FF001D 5.78%, #FF7D86 86.48%);
    color: white;
    font-size: 11px;
    border-radius: 20px;
    font-weight: 200;
    letter-spacing: 1px;

    cursor: pointer;

    transition: box-shadow 0.3s ease-out;
}

.upgrade-plan:hover{
    box-shadow: 3px 3px 10px #ff001e60;
}

.billboards-bar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.billboard-title-bar{
    display: flex;
    align-items: center;

    margin: 0px 30px;
}

.billboard-title{
    font-weight: 600;
    font-size: 18px;
}

.billboard-btn{
    width: 30px;
    height: 30px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.billboard-btn:hover{
    background-color: #E8ECF7;
}

.billboard-btn svg{
    width: 12px;
    height: auto;
    fill: #8C92A6;
}

.billboard-title-bar div:nth-child(2){
    margin-left: auto;
    margin-right: 2px;
}

.billboards{
    display: flex;
    padding: 0 30px;

    overflow: auto;
    padding-top: 10px;
}

.billboard{
    cursor: pointer;
}

.billboards .active-music .album-art{
    height: 200px;
    width: 226px;
}

.billboard .album-art{
    height: 200px;
    width: 165px;
    margin-right: 20px;
    background-color: #b5bbc8;

    border-radius: 15px;
    background-size: cover;
    background-position: center;

    transition: box-shadow 0.3s ease-out;
}

.billboard:hover .album-art{
    box-shadow: 5px 5px 20px #adadad;
}

.billboard-title{
    font-size: 15px;
    height: 15px;
    margin-top: 10px;
    font-weight: 700;
}

.billboard-subtitle{
    font-size: 10px;
    margin-top: 7px;
    color: #b5bbc8;
}

.billboards .billboard:nth-child(1) .album-art{
    background-image: url(./assets/coloring-book.jpg);
}

.billboards .billboard:nth-child(2) .album-art{
    background-image: url(./assets/blue-neighborhood.jpg);
}

.billboards .billboard:nth-child(3) .album-art{
    background-image: url(./assets/starboy.jpg);
}

.billboards .billboard:nth-child(4) .album-art{
    background-image: url(./assets/mirage.png);
}

.billboards .billboard:nth-child(5) .album-art{
    background-image: url(./assets/panda.jpg);
}

.billboards .billboard:nth-child(6) .album-art{
    background-image: url(./assets/paris.jpg);
}

.billboards .billboard:nth-child(7) .album-art{
    background-image: url(./assets/animals.jpg);
}

.billboards .billboard:nth-child(8) .album-art{
    background-image: url(./assets/shapeOfYou.jpeg);
}