@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --text: #1C1D28;
  --green: #00DD32;
  --wrapper: #F2F4F4;
  --light-light-grey: #F5F6F6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
      width: 0px;
      height: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      width: 0px;
      height: 0px;
    border-radius: 0px;
    background-color: none;
  }

svg{
    width: 20px;
    height: auto;
    fill: #79868d;
    transition: fill 0.3s ease-out;
}

.wrapper{
    background-color: var(--background-blue);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    min-width: 1400px;
    min-height: 700px;
    overflow: hidden;
    display: flex;
    position: relative;

    padding: 40px 63px;
    background-color: var(--wrapper);
}

.main-section{
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.main-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    height:  80px;
}

.main-header-logo{
    margin-top: 4px;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.main-header-logo > svg{
    margin-right: 10px;
}

.main-header-logo > div{
    font-weight: 500;
}

.main-header > input{
    width: 45%;
    font-size: 25px;

    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;

    font-weight: 300;
}

.main-header > input::placeholder{
    color: #c5c5c5;
}

.content-box{
    flex: 1;
    background-color: white;
    border-radius: 40px;

    overflow: hidden;

    display: flex;
    box-shadow: 0px 0px 30px #ebebeb;
}

.content-left{
    width: 560px;

    display: flex;
    flex-direction: column;

    padding: 50px 80px;
    overflow: auto;
}

.content-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-header > div:first-child{
    font-weight: 600;
    font-size: 18px;

    margin-bottom: 10px;
    cursor: pointer;
}

.content-header > div:last-child{
    font-weight: 300;
    font-size: 14px;

    color: #c5c5c5;
}

.card-container{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    height: 250px;
}

.card{
    height: 220px;
    width: 352px;

    background-color: #1C1D28;
    background-image: url(./assets/card.png);

    border-radius: 20px;
    overflow: hidden;

    color: white;

    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    cursor: pointer;
    transition: margin-bottom 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card:hover{
    margin-bottom: 10px;
    box-shadow: 0px 10px 20px #c5c5c5;
}

.card-number{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
    font-size: 22px;

    text-shadow: 0px 2px 5px black;
    margin-right: 10px;
}


.card-meta{
    margin-top: 32px;
    display: flex;
    align-items: center;

    font-weight:300;
}

.card-meta > div:first-child{
    margin-right: 70px;
}

.buttons{
    margin-top: 27px;
    display: flex;
    align-items: center;
}

.buttons > div:first-child{
    margin-right: 28px;
}

.button{
    cursor: pointer;
    padding: 12px 20px;
    width: 165px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F2F4F4;
    border: 1px #F2F4F4 solid;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 300;
}

.white-btn{
    background-color: white;
}

.currency-convertor{
    align-self: flex-start;
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.currency-convertor-button{
    margin-top: 20px;
    align-self: center;

    width: 80px;
    height: 80px;
    border-radius: 60px;

    box-shadow: 0px 0px 10px #dbdbdb;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    cursor: pointer;
}
.green-circle{
    border-radius: 60px;

    border: 2px var(--green) solid;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.green-circle > svg{
    fill: var(--green);
}

.content-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.content-right-header{
    background-color: var(--light-light-grey);

    border-radius: 0px 0px 0px 60px;
    height: 200px;

    padding: 0px 40px;
    padding-top: 40px;
    padding-right: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-right-header-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-right-header-menu-item{
    padding: 0 10px;
    border-bottom: 2px #00dd3400 solid;

    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 200;
    color: #79868d;

    cursor: pointer;
}

.active-content-right-header-menu-item{
    border-bottom: 2px #00dd34 solid;
    color: var(--text);
    font-weight: 600;
}

.content-right-table{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    padding-top: 40px;
    padding-right: 80px;

    overflow: hidden;
}

.content-right-table-items{
    flex: 1;
    overflow: auto;
}

.content-right-table-header, .content-right-table-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-right-table-header{
    font-weight: 200;
    font-size: 10px;

    margin-bottom: 20px;
    color: #c5c5c5;
}

.content-right-table-header > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right-table-item{
    cursor: pointer;
    font-weight: 300;
    font-size: 11px;


    height: 80px;
    border: 1px #ebebeb solid;
    border-radius: 10px;

    margin-bottom: 20px;
}

.content-right-table-item > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav{
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.right-nav-profile{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
}

.right-nav-profile-avatar{
    width: 60px;
    height: 60px;

    border-radius: 15px;
    background-color: #dbdbdb;

    margin-bottom: 10px;
    background-image: url(./assets/profile.jpg);
}

.right-nav-profile-name{
    font-size: 13px;
    font-weight: 300;
}

.right-nav-menus{
    display: flex;
    flex-direction: column;
}

.right-nav-menu-item{
    font-size: 14px;
    color: #c5c5c5;
    font-weight: 300;

    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    cursor: pointer;
}

.right-nav-active-menu-item{
    font-weight: 500;
    color: var(--text);
}

.right-nav-active-menu-item::after{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 5px;

    background-color: var(--green);

    position: absolute;

    right: -30px;
    top: 21px;
}