@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* background-grey : #27292D */
/* blue : #0086FF */
/* grey--text: #E6E6E7 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
      width: 0px;
      height: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      width: 0px;
      height: 0px;
    border-radius: 0px;
    background-color: none;
  }

svg{
    width: 20px;
    height: auto;
    fill: #707075;
    transition: fill 0.3s ease-out;
}

.wrapper{
    background-color: #27292D;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    overflow: hidden;
    display: flex;
    position: relative;

    display: flex;
    flex-direction: column;
    color: #E6E6E7;
}

.main-header{
    display: flex;
    align-items: center;

    border-bottom: 1px #3a3a3a solid;
    height: 70px;

    margin: 0 20px;
}

.messenger-logo{
    width: 23px;
    height: 23px;

    background-image: url(./assets/logo.png);
    cursor: pointer;
}

.header-search{
    margin: 0 auto;

    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 39px;
    border-radius: 30px;

    transition: background-color 0.3s ease-out;
}

.header-search:hover{
    background-color: #2b2f38;
}

.header-search > svg{
    width: 12px;
}

.header-search > input{
    background-color: transparent;
    border: none;
    outline: none;

    margin-left: 10px;

    width: 500px;
    color: #E6E6E7;
    font-size: 13px;
}

.header-search > input::placeholder{
    color: #707075;
}

.main-header-right-circle, .main-header-avatar{
    width: 30px;
    height: 30px;
    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;
}

.main-header-right-circle{
    border: 1px #3a3a3a solid;
}

.main-header-right-circle svg{
    width: 13px;
}

.main-header-avatar{
    margin-left: 10px;
    background-color: aliceblue;
    border: 1px #3a3a3a solid;
}

.main-section{
    flex: 1;
    display: flex;
    margin: 0 20px;
}

.messages{
    width: 270px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    
}

.messages-list{
    flex: 1;

    overflow-y: auto;
    overflow-x: hidden;
}

.message{
    display: flex;
    align-items: center;

    padding: 12px 0;

    cursor: pointer;
}

.selected-message{
    padding-left: 10px;
    border-left: 3px #008cff solid;
}

.message-avatars-container{
    flex-shrink: 0;
    margin-right: 17px;

    display: flex;
    justify-content: flex-start;
}

.message-avatars{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    min-width: 0;

    margin-left: 10px;
}

.special-avatars{
        width: 60px;
        margin-left: 5px;
}

.break {
    flex-basis: 100%;
    height: 0px;
}


.message-avatar{
    box-sizing: content-box;
    width: 33px;
    height: 33px;
    border-radius: 35px;

    background-color: rgb(160, 78, 255);
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px #27292D solid;
    margin-left: -10px;

    position: relative;
}

.online{
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    border-radius: 5px;

    background-color: rgb(0, 202, 0);
    border: 1px #27292D solid;
    position: absolute;
    bottom: 0px;
    right:0px;
}

.special-avatars > .message-avatar{
    width: 30px;
    height: 30px;
    border-radius: 35px;
}

.single-row-avatars > .message-avatar{
    margin-left: -10px;
    width: 35px;
    height: 35px;
}

.avatar-3rd{
    margin-bottom: -13px;
}

.message-meta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-meta > div:first-child{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}

.message-meta-details{
    font-size: 11px;
    font-weight: 300;
    color: #707075;

    display: flex;
    align-items: center;
}

.message-meta-details > div:first-child{
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dot{
    width: 3px;
    height: 3px;

    border-radius: 3px;

    background-color: #707075;
    margin: 0 5px;
}

.new-message{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.new-message-btn{
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #008cff;
}

.new-message-btn > svg{
    fill: white;
}

.color-mode{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.color-mode-btn{
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.color-mode-btn > svg{
    fill: white;
}



.chat{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header{
    margin: 0 30px;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.chat-header-title{
    font-size: 22px;
    font-weight: 400;
}

.chat-header-profiles{ 
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.chat-header-profiles > div{
    width: 35px;
    height: 35px;
    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;
    border: 1px #27292D solid;
    background-color: #31343a;
    margin-left: -9px;

    cursor: pointer;
}

.chat-header-profiles svg{
    width: 13px;
}
.chats-list{
    margin: 0 30px;
    flex: 1;
    overflow-y: auto;
}

.chat-session{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.chat-contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
}

.chat-content{
    padding: 17px;
    margin-bottom: 7px;

    font-size: 13px;
    line-height: 23px;
    color: #adadad;

    cursor: pointer;
}

.incoming-session .chat-content{
    background-color: #31343a;

    border-radius: 20px 20px 20px 0;
}

.incoming-session .chat-profile{
    margin-right: 14px;
}

.outgoing-session{
    flex-direction: row-reverse;
}

.outgoing-session .chat-content{
    background-color: #008cff;
    color: white;
    border-radius: 20px 20px 0px 20px;
}

.outgoing-session .chat-contents{
    align-items: flex-end;
}

.outgoing-session .chat-profile{
    margin-left: 14px;
}

.chat-meta{
    font-size: 12px;
    color: #707075;
    cursor: pointer;
}

.chat-profile{
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;


    background-color: #31343a;
    cursor: pointer;
}

.chat-controll-bar{
    display: flex;
    align-items: center;

    height: 70px;
    border-top: 1px #3a3a3a solid;

    padding: 0 30px;
}

.chat-controll-bar > input{
    flex: 1;
    height: 38px;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 10px;

    outline: none;
    border: none;
    background-color: #31343a;

    color: white;
    font-size: 13px;
}

.chat-controll-bar svg{
    margin: 0 5px;
    cursor: pointer;
}

.chat-details{
    border-left: 1px #3a3a3a solid;

    padding: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.chat-details-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-details-avatars{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.chat-details-avatar{
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    border: 2px #27292D solid;
    background-color: red;

    margin-left: -14px;
    position: relative;
}

.big-online{
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    border-radius: 5px;

    background-color: rgb(0, 202, 0);
    border: 1px #27292D solid;
    position: absolute;
    bottom: 0px;
    right: 7px;
}

.chat-details-main-meta{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-details-main-meta > div:first-child{
    font-weight: 300;
}

.chat-details-main-meta > div:last-child{
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;

    color: #adadad;
}

.chat-details-main-buttons{
    align-self: stretch;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

.chat-details-main-button{
    flex: 1;
    height: 33px;
    border-radius: 6px;
    background-color: #31343a;

    display: flex;
    align-items:center;
    justify-content: center;

    font-size: 10px;
    font-weight: 300;

    cursor: pointer;
}

.chat-details-main-button > svg{
    width: 15px;

    margin-right: 10px;
}

.chat-details-settings{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.chat-details-setting{
    display: flex;
    align-items: center;

    justify-content: space-between;

    font-size: 12px;
    font-weight: 300;
    color: #adadad;

    height: 38px;
}

.chat-details-settings > .chat-details-setting:nth-child(2){
    border: 1px #3a3a3a solid;

    border-left: none;
    border-right: none;
}



.chat-details-setting > svg{
    width: 13px;
}

.shared-photos-container{
    display: flex;
    flex-direction: column;
}

.shared-photos-header{
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    font-size: 12px;
    color: #707075;
}

.shared-photos-header > svg{
    margin-right: 10px;
    width: 14px;
}

.shared-photos{
    display: grid;
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: repeat(3, 55px);
    gap: 6px;
    column-gap: 4px;
}

.shared-photo{
    background-color: #3a3a3a;
    border-radius: 5px;

    cursor: pointer;
}

.shared-photos-view-more{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    color: #008cff;
    font-size: 11px;

    cursor: pointer;
}

.privacy-and-support{
    margin-top: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    font-size: 12px;
    color: #3a3a3a;
}

.privacy-and-support > svg{
    margin-right: 10px;
    width: 14px;
    fill: #3a3a3a;
}
