/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
    font-family: "SF Display";
    font-weight: 900;
    src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
  }
  
  /** Bold */
  @font-face {
    font-family: "SF Display";
    font-weight: 700;
    src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
  }
  
  /** Heavy */
  @font-face {
    font-family: "SF Display";
    font-weight: 800;
    src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
  }
  
  /** Light */
  @font-face {
    font-family: "SF Display";
    font-weight: 200;
    src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
  }
  
  /** Semibold */
  @font-face {
    font-family: "SF Display";
    font-weight: 600;
    src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
  }
  
  /** Thin */
  @font-face {
    font-family: "SF Display";
    font-weight: 300;
    src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
  }
  
  /** Ultralight */
  @font-face {
    font-family: "SF Display";
    font-weight: 100;
    src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
  }
  
  /*---------------------------------------------------------------------------*
   * SF UI Text
   *---------------------------------------------------------------------------*/
  
  /** Bold */
  @font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
  }
  
  /** Bold Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");
  }
  
  /** Heavy */
  @font-face {
    font-family: "SF Text";
    font-weight: 800;
    src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
  }
  
  /** Heavy Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
  }
  
  /** Light */
  @font-face {
    font-family: "SF Text";
    font-weight: 200;
    src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
  }
  
  /** Light Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-LightItalic.otf");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Text";
    font-weight: 500;
    src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
  }
  
  /** Medium Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
  }
  
  /** Regular Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");
  }
  
  /** Semibold */
  @font-face {
    font-family: "SF Text";
    font-weight: 600;
    src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
  }
  
  /** Semibold Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
  }
  
  /** Ultrathin */
  @font-face {
    font-family: "SF Text";
    font-weight: 100;
    src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
  }
  
  /** Ultrathin Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");
  }
  
  /*---------------------------------------------------------------------------*
   * SF Mono
   *---------------------------------------------------------------------------*/
  
  /** Bold */
  @font-face {
    font-family: "SF Mono";
    font-weight: 700;
    src: url("https://sf.abarba.me/SFMono-Bold.otf");
  }
  
  /** Bold Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 700;
    font-style: italic;
    src: url("https://sf.abarba.me/SFMono-BoldItalic.otf");
  }
  
  /** Heavy */
  @font-face {
    font-family: "SF Mono";
    font-weight: 800;
    src: url("https://sf.abarba.me/SFMono-Heavy.otf");
  }
  
  /** Heavy Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 800;
    font-style: italic;
    src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");
  }
  
  /** Light */
  @font-face {
    font-family: "SF Mono";
    font-weight: 200;
    src: url("https://sf.abarba.me/SFMono-Light.otf");
  }
  
  /** Light Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 200;
    font-style: italic;
    src: url("https://sf.abarba.me/SFMono-LightItalic.otf");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Mono";
    font-weight: 500;
    src: url("https://sf.abarba.me/SFMono-Medium.otf");
  }
  
  /** Medium Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 500;
    font-style: italic;
    src: url("https://sf.abarba.me/SFMono-MediumItalic.otf");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Mono";
    font-weight: 400;
    src: url("https://sf.abarba.me/SFMono-Regular.otf");
  }
  
  /** Regular Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 400;
    font-style: italic;
    src: url("https://sf.abarba.me/SFMono-RegularItalic.otf");
  }
  
  /** Semibold */
  @font-face {
    font-family: "SF Mono";
    font-weight: 600;
    src: url("https://sf.abarba.me/SFMono-Semibold.otf");
  }
  
  /** Semibold Italic */
  @font-face {
    font-family: "SF Mono";
    font-weight: 600;
    font-style: italic;
    src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf");
  }

*{
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    font-family: "SF Display", sans-serif;
    background-size: cover;
    background-position-y: center;
}

.wrapper{
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.player-wrapper{
    
    backdrop-filter: blur(30px);
    background-image: url(./assets/musicplayer.jpg);

    display: flex;
}

svg{
    width: 20px;
    height: auto;
}


.player{
    height: 70px;;
    width: 100%;
    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    color: white;

    display: flex;
    align-items: center;

    padding: 0 30px;
}

.player-avatar{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    background-color: grey;

    margin-right: 20px;

    background-image: url(./assets/player-avatar.jpg);
}

.player-details{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-right: 80px;
}
.player-details div:first-child{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}

.player-controlls{
    margin: 0 30px;
}

.player-controlls svg{
    fill: white;
    width: 15px;

    margin: 0 5px;

    cursor: pointer;
}

.player-details div:last-child{
    font-size: 12px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.438);
}

.player-progress{
    flex: 1;
    display: flex;
    align-items: center;

    margin-right: 40px;
}

.pre-progress{
    height: 2px;
    border-radius: 10px;
    background-color: white;
    margin-right: 5px;
    width: 60%;
}

.post-progress{
    height: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    margin-left: 5px;
    flex: 1;
}

.progress-btn{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: white;

    cursor: pointer;
}

.player-volume svg{
    fill: white;
    cursor: pointer;

    margin-right: 40px;
}

.content{
    flex: 1;
    display: flex;
}

.side-nav{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    background-color: #F7F7F8;

    box-shadow: inset -10px 0 10px rgb(236, 236, 236);
}

.system-buttons{
    align-self: stretch;
    display: flex;
    align-items: center;
    margin: 0 3px;

    margin-bottom: 25px;
}

.system-buttons > div {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 10px;
    background-color: #9dbdff;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.system-buttons > div:nth-child(1){
    background-color: #EE6A5E;
}

.system-buttons > div:nth-child(1):hover{
    box-shadow: 0px 0px 10px #EE6A5E;
}

.system-buttons > div:nth-child(2){
    background-color: #F5BD4E;
}

.system-buttons > div:nth-child(2):hover{
    box-shadow: 0px 0px 10px #F5BD4E;
}

.system-buttons > div:nth-child(3){
    background-color: #62C355;
}

.system-buttons > div:nth-child(3):hover{
    box-shadow: 0px 0px 10px #62C355;
}


.side-nav-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 12px;

    margin-left: 18px;

    margin-bottom: 20px;
}

.side-nav-menu-item svg{
    fill: #BBC4CF;
    width: 15px;
    margin-right: 20px;

}

.side-nav-menu-title{
    font-size: 10px;
    text-transform: uppercase;
    
    font-weight: 600;
    color: #B1B9C3;
}

.side-nav-menu-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.side-nav-menu-item-text{
    color: #89929e;
}

.active-side-menu-item .side-nav-menu-item-text{
    color: red;
}

.active-side-menu-item svg{
    fill: red;
}

.connected-device{
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom:0px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 6px 10px;

    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.connected-device:hover{
    box-shadow: 5px 5px 10px #ccd0da;
}

.device-image{
    height: 35px;
    width: 30px;
    background-image: url(./assets/iphoneX.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: white;
    border-radius: 10px;
}

.device-meta{
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.device-meta div:nth-child(1){
    font-weight: 300;
    font-size: 12px;
}

.device-meta div:nth-child(2){
    font-weight: 300;
    font-size: 10px;
    color: #8C92A6;
}

.eject{
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.eject:hover svg{
    fill: rgb(58, 58, 58);
}

.eject svg{
    width: 10px;
    height: auto;
    fill: #8C92A6;
    transition: fill 0.3s ease-out;
}
