@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,700&display=swap');

:root{
    --orange: #FF9F24;
    --light-grey: #F7F6FF;
    --text-color: #4A4D65;
    --dark: #20233E;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
      width: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      width: 0px;
    border-radius: 0px;
    background-color: none;
  }



*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    background-position: center;
    background-size: cover;
}

svg{
    width: 15px;
    height: auto;
}

.wrapper{
    height: 100vh;
    display: flex;

    overflow: hidden;
}

.side-nav{
    width: 180px;
    background-color: var(--orange);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 30px 0;
}

.side-nav-branding{
    font-size: 27px;
    font-weight: 700;
}


.side-menu{
    align-self: stretch;
    

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;

    padding: 50px 0;
}

.side-menu-item{
    display: flex;
    align-items: center;

    width: 146px;
    border-radius: 20px 0 0 20px;

    padding: 10px 20px;
    margin: 15px 0;
    font-size: 13px;

    cursor: pointer;
    position: relative;
    font-weight: 300;
}

.side-menu-item svg{
    width: 15px;
    margin-top: -2px;
    fill: white;
    margin-right: 15px;
}

.toggle-on{
    background-color: var(--light-grey);
    color: var(--text-color);
    font-weight: 600;
}

.toggle-on svg{
    fill: var(--text-color);
}

.toggle-on::before{
    display: inline-block;
    content: "";
    width: 40px;
    height: 50px;
    border-radius: 0 25px 0 0;
    background-color: transparent;

    position: absolute;
    bottom: -50px;
    box-shadow: 9px -9px var(--light-grey);
    right: 0;
}

.toggle-on::after{
    display: inline-block;
    content: "";
    width: 40px;
    height: 50px;
    border-radius: 0 0 25px 0;
    background-color: transparent;

    position: absolute;
    top: -50px;
    box-shadow: 9px 9px var(--light-grey);
    right: 0;
}

.side-menu-users{
    display: flex;
}

.side-menu-users .user, .side-menu-users .user-add{
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.user-add{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.603);

    transition: background-color 0.3s ease-out;
    cursor: pointer;

    margin-left: 10px;
}

.user-add:hover{
    background-color: rgba(255, 255, 255, 1);;
}

.user-add svg{
    width: 8px;
}

.user{
    background-image: url(./assets/Profile-side.jpg);
}

.main-section{
    flex: 1;
    background-color: var(--light-grey);
}


.right-section{
    width: 350px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.right-section > div{
    flex-grow: 1;
    flex-shrink: 0;
}

.my-profile{
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 0px 30px;
    min-height: 50vh;
}

.my-profile-search{
    background-color: var(--light-grey);
    border-radius: 20px;
    height: 35px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    justify-content: center;
}

.my-profile-search input{
    flex: 1;
    font-size: 10px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    margin-left: 10px;
}

.my-profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 50px 0;

    overflow: auto;
}

.my-profile-avatar{
    width: 80px;
    height: 80px;

    border-radius: 60px;
    background-color: #F7F6FF;
    background-image: url(./assets/my-profile.jpg);
}

.my-profile-meta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-profile-meta div:first-child{
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.my-profile-meta div:last-child{
    font-size: 11px;
    font-weight: 300;
    color: #c3c2ca;
}

.profile-statistics{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.profile-statistic div:first-child{
    font-size: 11px;
    font-weight: 300;
    color: #c3c2ca;
}

.profile-statistic div:last-child{
    font-size: 18px;
    font-weight: 600;
}


.my-notifications{
    background-color: var(--dark);
    height: 42vh;
    overflow:hidden;

    display: flex;
    flex-direction: column;
}

.notifications-header{
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 30px 40px;
}

.notifications-header div:first-child{
    font-size: 18px;
    font-weight: 500;
}

.notifications-header div:last-child{
    font-size: 11px;
    font-weight: 400;
    color: var(--orange);

    cursor: pointer;
}

.notifications-list{
    flex: 1;
    padding: 0 40px;
    color: white;
    overflow-y: auto;

    padding-bottom: 20px;
}

.notification-item{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.notification-avatar{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;

    background-color: var(--light-grey);
    background-image: url(./assets/my-profile.jpg);
}

.notification-meta{
    margin-left: 10px;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notification-meta div:first-child{
    font-size: 12px;
    font-weight: 500;
}

.notification-meta div:last-child{
    font-size: 10px;
    font-weight: 300;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}