@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --wrapper: #F5F6FA;
  --yellow: #FECE2F;
  --tealish: #21D3B7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-track {
      width: 0px;
      height: 0px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
      width: 0px;
      height: 0px;
    border-radius: 0px;
    background-color: none;
  }

svg{
    width: 20px;
    height: auto;
    fill: #79868d;
    transition: fill 0.3s ease-out;
}

.wrapper{
    background-color: var(--wrapper);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    min-width: 1400px;
    min-height: 700px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.side-nav{
  background-color: white;
  width: 290px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.side-nav-logo{
  align-self: flex-start;
  cursor: pointer;
}

.side-nav-logo > img{
  width: 94px;
}

.side-nav-search{
  background-color: var(--wrapper);
  display: flex;
  align-items: center;

  margin-top: 10px;
  height: 35px;
  border-radius: 20px;
  padding: 0 15px;
}

.side-nav-search > svg{
  width: 12px;
  margin-right: 10px;
}

.side-nav-search > input{
  min-width: 0;
  flex: 1;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  font-size: 12px;
}

.side-nav-search > input::placeholder{
  font-weight: 400;
  color: rgb(99, 89, 89);
}

.side-nav-menu{
  margin-top: 40px;
  display: flex;
  align-items: stretch;
}

.side-nav-menu-item{
  padding: 3px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.side-nav-menu-item > svg{
  width: 27px;
  fill: black;
}

.side-nav-menu-item > div{
  margin-top: 7px;
  font-size: 11px;
  font-weight: 600;
}

.side-nav-menu > .side-nav-menu-item:first-child{
  border-right: 1px #ced7db solid;
}

.side-nav-cards-container{
  margin-top: 50px;

  display: flex;
  flex-direction: column;
}

.side-nav-cards{
  display: flex;
  flex-direction: column;
}

.side-nav-card{
  padding: 0 30px;
  background-color: var(--wrapper);

  height: 110px;

  margin-bottom: 18px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  cursor: pointer;
}

.side-nav-card > div:first-child{
  font-size: 10px;
  color: #79868d;
}

.side-nav-card > div:last-child{
  font-size: 15px;
  font-weight: 600;
}

.active-side-nav-card{
  background-color: var(--yellow);
}

.side-nav-cards-pages{
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav-cards-page{
  box-sizing: content-box;
  width: 7px;
  height: 7px;
  border-radius: 10px;
  margin: 0 2px ;
  background-color: #ebebeb;

  cursor: pointer;
}

.active-side-nav-cards-page{
  border: 1.5px var(--yellow) solid;

  background-color: white;
}

.side-nav-profile{
  margin-top: auto;

  display: flex;
  align-items: center;
}

.side-nav-profile-avatar{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--yellow);

  margin-right: 10px;
  cursor: pointer;
}

.side-nav-profile-meta{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-size: 11px;

  cursor: pointer;
}

.side-nav-profile-meta > div:first-child{
  font-weight: 600;
}
.side-nav-profile-meta > div:last-child{
  font-weight: 300;
  color: var(--yellow);
}

.side-nav-profile-settings{
  margin-left: auto;

  border-radius: 30px;
  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.side-nav-profile-settings > svg{
  width: 14px;
}

.main-section{
  padding: 40px;
  flex: 1;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.main-section-header{
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.main-section-header-title{
  font-size: 26px;
  font-weight: 600;
}

.main-section-header-buttons{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.main-section-header-button{
  background-color: white;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;
  border-radius: 40px;
  cursor: pointer;
}

.main-section-header-button > svg{
  fill: black;
  width: 21px;
}

.main-section-tabs{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-section-tab{
  font-size: 10px;
  font-weight: 500;
  margin-right: 36px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px rgba(255, 255, 255, 0) solid;
  
  color: #79868d;
  transition: color 0.3s ease-out;
  cursor: pointer;
}

.active-main-section-tab{
  border-bottom: 1.5px var(--yellow) solid;
  color: black;
}

.main-section-tab:hover{
  color: black;
}

.main-content{
  display: flex;
  align-items: flex-start;
}

.main-content-left{
  width: 510px;
}

.main-content-left-progress{
  background-color: white;
  border-radius: 15px;

  display: flex;
  overflow: hidden;

  padding: 30px 20px;

  cursor: pointer;
}

.progress-circle-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}

.progress-circle-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 40px;
  font-size: 16px;
  font-weight: 600;
}

.progress-ring{
  position: relative;
}

.progress-circle{
  position: relative;
}

.progress-ring{
  width: 120px; 
  height: 120px;

}

.progress-ring-black{
  stroke: #F5F6FA;
  stroke-width: 5;
  fill: transparent;

  z-index: 1;
}

.progress-ring-circle {
  z-index: 2;
  stroke: #FECE2F;
  stroke-width: 5;
  fill: transparent;

  stroke-dasharray: 326.5;
  stroke-dashoffset: 185.605;  /*  326-(326.5 * (43/100)) */
  stroke-linecap: round;

  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-bars-container{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.progress-circle-text{
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 19px;
}

.progress-bar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar-percentage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 40px;
  font-weight: 600;
  font-weight: 600;
  font-size: 11px;
}

.progress-bar{
  height: 110px;
  width: 8px;
  border-radius: 20px;

  background-color: var(--wrapper);

  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: flex-end;
}

.progress{
  height: 50%;
  background-color: var(--yellow);

  border-radius: 20px;
}

.progress-bar-count{
  font-size: 10px;
  margin-top: 10px;

  color: #ced7db;
}

.left-content-card{
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin: 25px 0;

  background-color: white;
  border-radius: 15px;
}

.transparent-card{
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0);
}

.left-content-card-header{
  display: flex;
  align-items: center;

  cursor: pointer;
}

.left-content-card-header-number{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--yellow);

  width: 30px;
  height: 30px;
  border-radius: 40px;

  font-weight: 600;
  font-size: 14px;
  margin-right: 18px;
}

.left-content-card-header-title{
  font-weight: 600;
  font-size: 13px;
}

.left-content-card-header-time{
  margin-left: auto;
  font-size: 14px;
  color: #79868d;
}

.left-content-card-videos-list{
  margin-left: 48px; /* 30px (number div of header) + 18px ( margin-right of the same )*/
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.left-content-card-video-item{
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.left-content-video-thumbnail{
  cursor: pointer;
  width: 60px;
  height: 45px;

  border-radius: 10px;
  background-color: var(--wrapper);

  display: flex;
  align-items: center;
  justify-content: center;


  margin-right: 18px;
}

.left-content-video-thumbnail > svg{
  fill: var(--yellow);
}

.left-content-video-name{
  flex-shrink: 1;

  font-size: 11px;
  font-weight: 400;
  color: #5f696e;

  padding-right: 40px;
}

.left-content-video-play-button{
  cursor: pointer;
  display: flex;
  align-items: center;

  background-color: var(--yellow);
  padding: 5px;
  border-radius: 40px;

  cursor: pointer;

  margin-left: auto;
}

.left-content-video-play-button-svg{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fedf2f;

  width: 25px;
  height: 25px;
  border-radius: 20px;
}

.left-content-video-play-button-svg >  svg{
  width: 7px;
  fill: black;

  margin-top: -1px;
  margin-right: -1px;
}

.left-content-video-play-button-text{
  font-size: 9px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 600;

  letter-spacing: 1px;
}

.active-video-item{
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px #ebebeb solid
}

.active-video-item > .left-content-video-thumbnail {
  width: 90px;
  height: 70px;
}


.main-content-right{
  flex: 1;
  margin-left: 20px;
}

.content-right-course-info{
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-bottom: 25px;

  background-color: white;
  border-radius: 15px;
}

.content-right-course-info-title{
  font-size: 16px;
  font-weight: 600;
}

.content-right-course-info-instructor{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.instructor-avatar{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--yellow);

  margin-right: 15px;
  cursor: pointer;
}

.instructor-meta{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-size: 11px;

  cursor: pointer;
}

.instructor-meta > div:first-child{
  font-weight: 600;
}
.instructor-meta > div:last-child{
  font-weight: 300;
  color: var(--yellow);
}

.course-info-details{
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.course-info-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 11px;
  padding: 1px 0;

  cursor: pointer;
}

.course-info-detail > div{
  flex: 1;
}

.course-info-detail > div:first-child{
  font-weight: 300;
  color: #79868d;
}

.course-info-detail > div:last-child{
  font-weight: 600;

}

.course-rating-stars > svg{
  width: 12px;
}

.course-rating-stars >  svg  path:first-child{
  fill: var(--wrapper)
}

.course-rating-stars > svg  path:last-child{
  fill: var(--wrapper);
}

.course-rating-stars > .starred > path:first-child{
  fill: rgb(255, 217, 0);
}

.course-rating-stars > .starred > path:last-child{
  fill: none;
}

.add-rating{
  background-color: var(--wrapper);
  font-weight: 300;

  display: inline;
  padding: 3px 10px;
  border-radius: 10px;

  color: #79868d;
  font-size: 8px;
}

.more-courses-button{
  margin-top: 25px;
  align-self: flex-start;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 9px;
  color: #79868d;
  text-transform: uppercase;
  letter-spacing: 1px;

  border: 1px #79868d solid;
  border-radius: 30px;

  padding: 6px 13px;
}

.linked-files{
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin-bottom: 25px;

  background-color: white;
  border-radius: 15px;
}

.linked-files-title{
  font-size: 16px;
  font-weight: 600;
}

.linked-files-list{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.linked-files-item{
  cursor: pointer;
  display: flex;
  align-items: center;
  
  font-size: 10px;
  color: #79868d;

  margin-bottom: 18px;
}

.linked-files-item:last-child{
  margin-bottom: 5px;
}

.linked-file-logo{
  width: 24px;
}

.linked-files-item-name{
  margin-right: auto;
  margin-left: 15px;
}

.linked-file-more{
  fill: #ced7db;
  width: 13px;
}

.right-section{
  padding: 40px;
  width: 290px;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.right-section-students{
  display: flex;
  flex-direction: column;
}

.right-section-students-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-section-students-header-title{
  font-size: 22px;
  font-weight: 600;
}

.right-section-students-header-add{
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 8px;

  text-transform: uppercase;
  color: #79868d;
  letter-spacing: 1.5px;

  border: 1px #79868d solid;
  border-radius: 20px;
  height: 25px;
  padding: 0 15px;

  cursor: pointer;
}

.right-section-students-header-add > svg{
  width: 5px;
  margin-right: 5px;
}

.right-section-students-list{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.right-section-student{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.right-section-student-avatar{
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background-color: var(--yellow);

  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.online{
  width: 10px;
  height: 10px;
  border-radius: 7px;

  background-color: var(--tealish);
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 2px var(--wrapper) solid;
}

.right-section-student-meta{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-size: 11px;

  cursor: pointer;
}

.right-section-student-meta > div:first-child{
  font-weight: 400;
}
.right-section-student-meta > div:last-child{
  font-weight: 400;
  color: #ced7db;
  font-size: 10px;
}

.right-section-student-time{
  align-self: flex-start;
  margin-left: auto;

  font-weight: 500;
  color: #ced7db;
  font-size: 10px;
}

.right-section-mentorship-program{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;


  margin-bottom: 20px;
}

.right-section-mentorship-program-image{
  align-self: stretch;
  height: 200px;
  cursor: pointer;
  
  background-image: url(./assets/mentorship-program-2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.right-section-mentorship-program-meta{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-section-mentorship-program-meta > div:first-child{
  font-weight: 600;
  color: #5f696e;
  font-size: 14px;
}

.right-section-mentorship-program-meta > div:last-child{
  font-weight: 300;
  color: #79868d;
  font-size: 11px;
}

.right-section-mentorship-program-button{
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--yellow);
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 30px;

  padding: 0 25px;
  height: 35px;

  cursor: pointer;
}
